[2009-08-10 00:39] jmrodri opened #1 "runtime error on RHEL 5"
sudo yum install git python-setuptools python-hashlib
git clone .../tito
cd tito
sudo python setup.py install

cd sm-photo-tool
[jmrodri@corvette sm-photo-tool]$ tito build --tgz
Checking for tag [sm-photo-tool-1.16-2] in git repo [git://github.com/jmrodri/sm-photo-tool.git]
Traceback (most recent call last):
  File "/usr/bin/tito", line 5, in ?
    pkg_resources.run_script('tito==1.0', 'tito')

[2010-04-21 21:09] jmrodri opened #2 "change test rpm version format to allow upgradable rpms"
Current format of a test rpm is: name-version-release.git.sha1
candlepin-0.0.3-1.git.100.bbf91c694c06aafd96317b1c590d6f3f83d103f0.noarch.rpm

The new format would be: name-version-release.git.num.shortSHA1 where num is the number of commits since last tag.

 candlepin-0.0.3-1.git.100.bbf91.noarch.rpm

[2010-04-28 15:06] jmrodri opened #3 "tito does not expand the macros used in rpm Names"
tito does not expand the macros used in rpm Names, i.e. Name: rubygem-%{gemname}, this causes tagging the package to create a
tag called rubygem-%{gemname} instead of rubygem-Antwrap

[2010-04-28 15:07] #2 closed, assigned to nobody

[2010-04-28 15:35] #3 closed, assigned to nobody

[2010-05-03 12:42] dgoodwin opened #4 "RFE: Support one patch per tag for UpstreamBuilder."
Currently the patch generated for projects tracking an upstream build is a git diff of the current tag we're building in a downstream git repo, against the upstream tag we're tracking. (see buildr.py SatelliteBuilder._get_upstream_version() for how we determine the upstream tag)

This patch can get huge, request has been made to investigate generating one patch per downstream tag and including all

[2010-05-07 14:27] jmrodri opened #5 "autochangelog should escape characters properly"
autochangelog generation puts in % which are illegal in a changelog entry. For example:
- Changed %define to %global

That should be escaped with double %%

[2010-05-25 14:03] xsuchy opened #6 "RFE: pass --target to rpmbuild"
When doing rpmbuild -bs I need to specify --target option (to be specific --target=sparc). It will be enough for me if I can use something like
  tito  build --srpm --target=sparc
but it may be probably done more generic:
  tito build --srpm --rpmbuild-option='target=sparc'

[2010-05-26 01:35] #6 closed, assigned to nobody

[2010-05-26 01:36] #4 closed, assigned to nobody

[2011-01-27 11:09] lzap opened #16 "Patch: Handle + and . chars in the git email properly"
I will attach a patch that resolves this. Hope github allows to attach a file.

[2011-01-27 12:53] #16 closed, assigned to nobody

[2011-02-11 08:25] xsuchy opened #18 "Traceback if you do not have ~/.gitconfig"
When you do not have ~/.gitconfig i.e comman
  git config --get user.name
returns nothing
Tito will fail with traceback.

[2011-07-11 18:57] jumanjiman opened #21 "traceback if user doesn't have write perms"
lots of binary spew, then...

Traceback (most recent call last):
  File "/usr/bin/tito", line 22, in <module>
    CLI().main(sys.argv[1:])
  File "/usr/lib/python2.7/site-packages/tito/cli.py", line 98, in main
    return module.main(argv)
  File "/usr/lib/python2.7/site-packages/tito/cli.py", line 408, in main
    return builder.run(self.options)
  File "/usr/lib/python2.7/site-packages/tito/buil

[2011-07-26 17:17] mccun934 opened #24 "building with --test uses wrong commit count when repo has multiple packages"
If you just find the most recent tag during a --test build
you run into git finding recent tags for _other_ packages that are also
in the same git repo.  For example, if you have a git repo with 2
packages:

package-a
package-b

and you make a tag on package-a and have:

package-a-0.1.1-1

then you make a few commits and someone does a tag on package-b:

package-b-0.1.1-1

then a few more commits

[2011-08-01 20:40] jumanjiman opened #25 "traceback if rpmbuild fails due to packager error"
If packager makes a mistake that causes rpmbuild to fail, tito TB's.
Example:

RPM build errors:
    File not found: /home/example/rpmbuild/BUILDROOT/...
[spew]

[2011-08-02 14:19] #24 closed, assigned to nobody

[2011-08-02 14:29] #25 closed, assigned to nobody

[2011-12-09 15:44] xsuchy opened #28 "class CvsRelease do not have args argument in __init__()"
I got this traceback
$ tito release --all
Will release to the following targets: cvs
Checking for tag [spacewalk-remote-utils-1.0.2-9-sat] in git repo [git+ssh://msuchy@[SNIP]satellite.git]
Releasing to target: cvs
Traceback (most recent call last):
  File "/usr/bin/tito", line 23, in <module>
    CLI().main(sys.argv[1:])
  File "/usr/lib/python2.7/site-packages/tito/cli.py", line 94, in main

[2011-12-09 18:22] #28 closed, assigned to nobody

[2011-12-13 11:49] xsuchy opened #29 "tito build --list-tags and --only-tags does not work"
$ rpm -q tito
tito-0.4.2-1.git.7.2b17927.fc16.noarch

[msuchy@dri/~/rhn/spacewalk.pub/backend{master}]$ tito build --list-tags
Checking for tag [spacewalk-backend-1.6.58-1] in git repo [ssh://msuchy@git.fedorahosted.org/git/spacewalk.git/]
Building package [spacewalk-backend-1.6.58-1]
[msuchy@dri/~/rhn/spacewalk.pub/backend{master}]$ tito build --only-tags=dist-5E-sw-1.6-candidate
Usage: tito buil

[2011-12-13 13:21] #5 closed, assigned to nobody

[2011-12-19 17:51] mccun934 opened #30 "tito tag --no-auto-changelog and --auto-changelog-message are ignored"
Sometimes tito will ignore the --no-auto-changelog and sometimes it won't.  EG:

[code]

where the 'blippy' was the most recent commit

[2011-12-20 21:29] mccun934 opened #31 "tito build --rpm should offer auto-install for BuildRequires"
Turn the below errors into a 'yum install' command would be very very handy

[code]

[2012-01-19 18:23] jmrodri opened #32 "RFE: add filter to filter out git commits"
At FUDCon some of the users thought having the ability to filter out or retain certain commits used in the changelog would be useful. For example, I only want commits that start with numbers i.e. bug commits or take out any commit that has checkstyle, unit test, or Merge in it.

[2012-01-19 18:24] jmrodri opened #33 "RFE: generate initial RPM spec file for a project"
At FUDCon someone asked if tito could generate the spec file from a tarball or from analyzing the code as part of a tito init call.

[2012-01-19 18:25] jmrodri opened #34 "RFE: add plugins for taggers, builders, and releasers"
Several folks were looking into tito for their own projects. Clint Savage said he needed to change a few things to work for his workflow, he wanted to know if tito had plugins to allow folks to change the behavior of the core features without having to modify tito code directly.

I think this is completely feasible and would go a long way to make tito more popular.

[2012-01-23 20:16] jeckersb opened #35 "EDITOR with arguments produces backtrace"
tito does not properly handle an EDITOR environment variable with arguments, due to the way it invokes subprocess.call:

[code]

[2012-01-23 20:20] #35 closed, assigned to nobody

[2012-02-16 17:51] mccun934 opened #39 "tito doesn't want to create /tmp/tito"
I ran 'tito release git' and ran into an error unrelated to files in /tmp/tito (expired ticket I think)

re-ran it and it complained about writing to /tmp/tito (permission denied) so I 'rm -rf /tmp/tito/'

next time I ran 'tito release git' I get:

$ tito release git
Will release to the following targets: git
Checking for tag [katello-cli-0.1.54-2] in git repo [git+ssh://git@example.com/scm/git/sy

[2012-03-14 16:37] #39 closed, assigned to nobody

[2012-03-17 21:24] lmacken opened #43 "Error when attempting to build"
I'm getting the following error when trying to perform my first build with tito.

[code]

[2012-03-18 03:33] #21 closed, assigned to nobody

[2013-02-14 00:00] spkane opened #61 "tito breaks when Release tag contains an underscore (and others?) after the number"
It might break for any non-macro/variable, I haven't looked into the code yet, but I want to get this documented.

**Works:**

Release: 1%{pg_version}%{?dist}

**Breaks:**

Release: 1_%{pg_version}%{?dist}

**Ugly Workaround:**

%define underscore _
Release: 1%{underscore}%{?dist}

[2013-04-15 18:30] #18 closed, assigned to nobody

[2013-04-18 19:18] sosiouxme opened #73 "tito release --test does not actually pull from HEAD"
Version 0.4.11-1 appears to ignore the --test or in any case just builds and releases the most recent tag.

[2013-04-18 20:55] #32 closed, assigned to nobody

[2013-04-18 20:55] #33 closed, assigned to nobody

[2013-07-03 05:01] xiaods opened #88 "source tar.gz file always 4K. any hints."
Hi, guys, I build a nodejs project by tito, got a failed build step, How about any hints on it.

[code]

[code]

got error log:

[code]

[2013-07-09 08:43] #88 closed, assigned to nobody

[2013-08-27 10:38] tomas-edwardsson opened #92 "Build problems on RHEL6 if tagging from Fedora"
Patch 38becd6 breaks build on RHEL6

Here is the relevant output of a build on RHEL6.4

[code]

Note the ./

[code]

Version info:

[code]

[2013-08-27 15:40] #92 closed, assigned to jmrodri

[2013-09-29 02:45] jbowes opened #94 "Support github's releases API"
https://github.com/blog/1645-releases-api-preview

[2013-11-12 13:41] sdherr opened #98 "tito blacklist does not prevent dist-git branch commit"
If tito's configured releaser is using dist-git, there is no way to prevent an rpm from from attempting to checkout / commit to each of the configured branches. A blacklist in tito.props will prevent the actual brew build from being submitted, but tito will always try to commit to every configured git-dist branch for every rpm in the git repo.

There should be some way to selectively choose which

[2013-11-13 13:43] #73 closed, assigned to nobody

[2013-11-13 13:44] #61 closed, assigned to nobody

[2013-11-19 02:19] amitsaha opened #99 "--dry-run for tito tag?"
What do you think of adding a --dry-run for 'tito tag' ? A specific use case that I ran into: Say, i want to distribute release tarballs and I use git archive with the HEAD tag for that. If I wanted to link to the archive from my project, I would have to add another commit, since I do not have a straightforward way of doing it before the tagging. Having a --dry-run would make it super simple.

Her

[2013-12-03 07:12] liuzhengbaihe opened #101 "Version number can not start from X.Y.0 with tito tag?"
I want to use tito tag to generate a upgrade release package continually.
The release version is from X.Y.0 to X.Y.N.
However, I found when I use tito tag, it will generate X.Y.1  the first time when version upgrade.
So I'm wondering if there is a method that can help me to generate version number from X.Y.0?

[2013-12-16 13:59] #101 closed, assigned to nobody

[2014-01-08 16:49] sosiouxme opened #102 "tito tag --bump-release and tito release --patch-release"
As a downstream project it would be nice to release srpms with the upstream source and patches. This is a bit laborious to do by hand.

Should be fairly easy to have tito tag just bump the release instead of the version. I know, I can just edit the spec file manually and use --keep-version, but I'm lazy, right?

Then, have "tito release" either automatically (because release version is not -1) or

[2014-01-08 20:46] #102 closed, assigned to nobody

[2014-02-18 06:01] jumanjiman opened #107 "test tito inside docker container"
ok, this is cool. on an _ubuntu_ vm, i can test tito against _centos 5.9_, _centos 6.4_, and _fedora 20_.

[code]

would anybody be interested if I can get travis-ci to run every pull request against these three distros? it seems it may be possible: https://github.com/jpetazzo/docker/blob/master/.travis.yml

my docker files are at https://github.com/jumanjiman/dockerfiles if anybody wants to repro

[2014-03-10 10:57] jboerger opened #110 "Tito RPM Build Problem"
I`ve got a Problem here creating a RPM without using the —test argument of tito. I guess I´m doing something wrong here, but on the other side there seems to be a lack of really good documentation :-(:

so far im Doing:

mkdir rpm5
cd rpm5/
git init

[jboerger@rpmbuild01 rpm5]$ tito init
Creating tito metadata in: /home/jboerger/rpm5/rel-eng
- created /home/jboerger/rpm5/rel-eng
- wrote tito.props

[2014-03-10 12:21] #99 closed, assigned to nobody

[2014-03-10 13:35] #110 closed, assigned to nobody

[2014-03-13 18:22] #107 closed, assigned to nobody

[2014-03-31 18:42] jflorian opened #114 "Confusion with srpms"
I'm transitioning from the bad practice of building my rpms directly with rpmbuild atop numerous VMs -- one per Fedora release -- to using mock via tito.  Most everything seems to be working well, except with respect to my srpms where I see behavior that looks wrong ... or is simply my own confusion.

I have the following (among others) in my releasers.conf:

[test-f18-sources]
releaser = tito.rel

[2014-04-01 11:39] #114 closed, assigned to nobody

[2014-05-26 01:12] jumanjiman opened #133 "tito-0.5-5-1 fails on el5"
on el5, fails with:

[code]

(works for me on el6, f19, f20)

~~i plan to extend test harness to have tito build itself (and then submit pull request).~~

~~a quick fix may be to unwind the symlinks that got added with 20c4f1b7c0942d8da3b594a274ddddeb7bcbef04,
but i prefer to understand why it fails on el5. if anybody has an idea, i'd love to hear it!~~

update: there are 2 underlying issues on el

[2014-05-26 19:04] #133 closed, assigned to nobody

[2014-07-03 22:49] sergiomb2 opened #139 "examples ?"
how I use tito ?

[2014-07-04 11:36] #139 closed, assigned to nobody

[2014-07-30 03:16] ringerc opened #141 "Docs say not to use --offline, but not why"
The README.md says that --offline is intended to allow use of a local-only git repo without needing to hit a remote server for every action.

However, the asciidoc says:

[code]

Why? Is this just outdated? Is there something broken that needs fixing?

[2014-07-30 03:20] ringerc opened #142 "`tito build` with no args runs but has no effect"
`tito build` takes `--tgz`, `--rpm` or `--srpm` flags.

If none of these are used, it seems to produce output like:

[code]

but doesn't write anything to the output dir.

I'm using

[code]

in case it matters.

It isn't clear what the intended outcome is. This might deserve an information message for usability.

[2014-07-30 03:29] ringerc opened #143 "tito build --tgz silently produces no output"
Hi

I've been trying tito in the hopes of automating some manual build actions around PostgreSQL packaging, but I'm having a lot of trouble getting it working.

Execution of

`tito build --tgz`

produces an empty `/tmp/tito`, though it reports:

[code]

When I `strace` execution, including child processes, I can see that `tito` has executed `rpm -rf` on the rpmbuild subdir, which seems to occur in

[2014-07-30 04:42] ringerc opened #144 "Additional arguments to build, like specfile, ignored"
tito ignores extra args to build. As the docs suggest that nested trees of specfiles are allowed, one might reasonably expect that

[code]

would work, but it produces:

[code]

It looks like tito doesn't use `argparse`; maybe it's worth looking into. (If tito proves viable to do what I'm trying to do I'll see if I can make these kinds of changes, but right now it's looking like it won't work out)

[2014-07-30 04:47] ringerc opened #145 "tito assumes that package sources are in a subdir of the specfile dir"
Unless I've greatly misunderstood something, it looks like tito assumes that the specfile will be in the root directory of the source tree to prepare and build.

This isn't ideal if you're following an upstream git repo, as it's strongly desirable to contain all the packaging cruft in a subdir like `rpm/` that's simply and easily excluded from dist tarballs, especially when working with UpstreamBu

[2014-07-30 04:53] ringerc opened #146 "UpstreamBuilder assumes that the upstream original sources are tagged -1"
in `main.py` in class `UpstreamBuilder`, the `tgz` method assumes that the upstream tag is the same tag format as used by tito to tag releases, with release -1:

[code]

e.g. if I'm packaging `postgresql94-9.4beta2-3PGDG` it expects to find the upstream in `postgresql94-9.4beta2-1`. If this tag isn't found it complains that the tag is missing, but not why it's looking for this tag, what it expects

[2014-07-30 08:18] ringerc opened #147 "tito should use git format-patch to produce a patch series"
It'd be ideal if, when producing packages, tito used `git format-patch` to produce a nicely named and formatted patch series between upstream and the packaged version.

It'd need to insert `Patchn` entries to the spec file to reference them.

The current monolithic patch generation works, but it's very unfriendly toward anybody who needs to unpack the srpm and understand what's going on. It goes a

[2014-07-30 14:46] #98 closed, assigned to nobody

[2014-07-31 07:43] ringerc opened #148 "Mock builds not supported for DistributionBuilder"
The way the builder infrastructure is designed means that each builder knows how to produce tarballs, srpms and RPMs . So the MockBuilder (for using `mock` for binary builds) can't easily be combined with `DistributionBuilder` (for tarball generation).

I'm not immediately sure how to tackle this. Turn `MockBuilder` into a mixin class, and split existing `rpmbuild` support out into another mixin,

[2014-07-31 07:47] ringerc opened #149 "MockBuilder doesn't use mock for srpms"
`mock` supports srpm generation. This is useful and important, because srpms aren't 100% compatible across distros even if the spec file is the same or uses conditionals.  In particular, [RH Bugzilla 490613](https://bugzilla.redhat.com/show_bug.cgi?id=490613) shows that the checksum method that newer RH/Fedora defaults to will produce SRPMs that won't work on older RHEL/CentOS.

`MockBuilder` shou

[2014-07-31 07:51] #143 closed, assigned to nobody

[2014-07-31 08:11] #147 closed, assigned to nobody

[2014-07-31 08:16] #145 closed, assigned to nobody

[2014-09-10 17:36] awood opened #150 "Need support for submodules in source tarballs."
The [sat5to6](http://github.com/candlepin/sat5to6) tool uses git submodules and the code within those submodules needs to be packaged.  Unfortunately, git archive does not descend into submodules.  There are suggestions on ways to address the problem on [StackOverflow](http://stackoverflow.com/questions/5482544) and there is also a solution in Python at https://github.com/Kentzo/git-archive-all.

[2014-09-17 18:06] jflorian opened #151 "Can tito push to a yum repo without building via mock?"
Maybe I've overlooked something, but my experimentation has led me to believe:
1. "tito build" can be very fast since mock isn't involved, but you're left on your to get the rpms to your test host since nothing lands in a yum repo.
2. "tito release" makes rpm testing easier because a yum repo is updated, but it's quite slow because mock is used.

I like that tito uses mock -- it's why I started us

[2014-09-18 17:41] #151 closed, assigned to nobody

[2014-09-29 06:21] nilesh-shah opened #152 "ImportError: No module named bugzilla.rhbugzilla"
Hi,

I want to install Subscription manager, the UI component of the CandlePin. I was referring this link
https://fedorahosted.org/subscription-manager/wiki/Building

I am stuck at Tito installation here. I went to Titl Git, cloned the source and was trying to build tito.
I followed following steps

[code]

The steps are successful, it did not return any error. However, when I try running any Tito

[2014-10-24 13:59] sergiopena opened #155 "Is not possible to provide rpmbuild-options when releasing a package"
tito build --rpmbuild-options='--nodeps' work flawless but when I try to release a package with this rpmbuild-option the parameter never reaches the builder.
I've tried with the --arg option, but this provides custom argument to the builder, not to rpmbuild.

[2014-12-09 18:11] komidore64 opened #158 "running `tito init` in a repo that already contains metadata still says "creating metadata""
When running `tito init` in a repo that already contains tito metadata, the output says "Creating tito metadata in: /path/to/dir/rel-eng".

Perhaps something like:

[code]

or something along those lines would be helpful.

[2014-12-19 22:00] jflorian opened #159 ""Deleting old package" clobbers my just made src.rpm"
I presently have tito building my packages on a TeamCity setup atop Fedora 20.  Everything has been awesome.  Today I start building packages for Fedora 21, stuff I need to even get F21 up and going in our environment.  After that, I could migrate the TC setup to F21.

However, my src.rpms are getting whacked.  To my eyes, it looks as though tito sees the newly built src.rpm as old simply because

[2014-12-23 21:39] #159 closed, assigned to nobody

[2015-01-13 20:43] jflorian commented on #31
I believe I'm running into this issue and am utterly confused by much of the comments here.  I thought the whole point of having BuildRequires in your spec was so that the build system would automatically install those packages into your otherwise sterile build root.  The mock tool has the --installdeps option, so why doesn't tito's MockBuilder use that option?  Or am I overlooking some other poin

[2015-01-28 08:54] midnightercz opened #160 "--debug doesn't work"
[code]

produce nothing new

tests debug flag:

/usr/lib/python2.7/site-packages/tito/common.py in def debug(text, cmd=None)

add
print "DEBUG" in os.environ

run "tito tag --debug" again

Output:
False
..
..

[2015-02-28 19:42] xsuchy opened #161 "substitue /rel-eng for /.tito"
I find that some projects hesitate to use Tito, because it creates that /rel-eng directory and they take it as unwanted pollution. Yet they are able to accept .tx/, .travis/ etc.

We may get more users if we create /.tito instead of /rel-eng directory.

Opinions? Comments?
I am willing to create backward compatible patch if I get enough +1.

[2015-02-28 19:53] jumanjiman commented on #161
:+1:

I like the association with Tito.

I have to point out that .travis.yml and so forth are "extras". One can build project without Travis. Once a project uses Tito, it somewhat forces a workflow. It's a comfortable workflow, but the tie-in is obvious.

[2015-03-02 08:37] domcleal commented on #161
:+1:

[2015-03-02 12:29] dgoodwin commented on #161
bd (that's a double thumbs up)

[2015-03-28 13:30] gjanssens commented on #145
I wonder why you closed this issue.
It took me the better part of the morning to figure out one has to cd into the package directory before calling tito build. I still haven't found this explained anywhere in the documentation (unless I missed something). So the (documentation) issue still stands IMO ?

[2015-04-02 08:16] rholy opened #165 "Provide/document a Python API"
It would be nice if I could (safely) call tito in my Python continuous integration scripts.

[2015-04-16 10:53] epienbroek opened #166 "Traceback when doing 'tito tag --undo' while git repo has uncommitted changes"
I was just trying to use 'tito tag --undo' on a git repo where there are some uncommitted changes. This resulted in a traceback:

[code]

[2015-04-20 13:18] domcleal opened #167 "tito.spec build failure: __python2 is unset on EL6"
A build of the master branch is currently failing on EL6, as `__python2` is undefined.  Perhaps it should fallback to `__python`?

https://copr-be.cloud.fedoraproject.org/results/domcleal/tito-nightly/epel-6-i386/tito-0.5.6-1.git.4.4091af9.el6/build.log (http://copr-fe.cloud.fedoraproject.org/coprs/domcleal/tito-nightly/build/87103/)

<pre>
+ '%{__python2}' setup.py build
/var/tmp/rpm-tmp.nMwCVc:

[2015-04-20 13:25] domcleal commented on #167
Incidentally, the %prep section does this: `sed -i 1"s|#!/usr/bin/python|#!/usr/bin/python3|" bin/tito` irrespective of the platform.  Perhaps wrap that in a `use_python3` conditional, and use `pythonbin` too?

[2015-04-20 13:29] domcleal opened #168 "tito.spec build failure: python_sitelib is undefined on F22+"
A build of the master branch is failing on Fedora 22 and rawhide, I think because `python_sitelib` in the %files list is undefined.

I'm not sure, but I suspect the `%{!?python2_sitelib: %define python_sitelib` line could be at fault - it's checking for the presence of python**2**_sitelib and then setting python_sitelib, which might be overriding the python_sitelib set inside the python3 condition

[2015-04-23 09:55] domcleal commented on #155
#170 should fix this, I just hit the same when trying to --define something from a releaser.

[2015-04-23 11:09] rholy opened #171 "[RFE] Provide --quiet switch"
Until #165 is implemented, I'd like to ask you for a `--quiet` command line switch so that my scripts does not print unimportant information, e.g. (in case of `tito build --rpm --builder=mock`):
- `Building package [*]`
- `Creating rpms for * in mock: *`
- `Using srpm: /tmp/tito/*.src.rpm`
- `Initializing mock...`
- `Installing deps in mock...`
- `Building RPMs in mock...`

maybe also (unless the

[2015-04-26 14:04] xsuchy commented on #171
It may be worth to switch all those print(s) to log.{info,debug} etc. so users can fine tune the amount of information.

[2015-04-26 14:09] jumanjiman commented on #171
yes, that would be nice as long as `log` means to print, not syslog.
or else if target is configurable to either tty or syslog.

[2015-05-06 18:28] jflorian opened #175 "Inconsistencies between "man tito" and "tito --help""
I'd like to gift this project with some bash-completion love, but to do a good job I need help with the following discrepancies.  M=only mentioned in tito(8) man page, C=only mentioned in CLI help.

== build module ==
M --only-tags=

== release module ==
C --no-cleanup
C --test
C --arg=

== tag module ==
C --use-version=

[2015-05-09 11:53] #167 closed

[2015-05-12 18:44] TomasTomecek commented on #29
3 years later, `--only-tags` is still in manpage.

[2015-05-12 19:07] #155 closed

[2015-05-14 13:37] ktdreyer commented on #147
I also desire the ability to have individual patches (in the style of `git-format-patch`). This would match much more closely with the way that packages in Fedora and RHEL operate.

[2015-05-14 19:17] ktdreyer commented on #161
I always wondered why there was a `rel-eng` directory. I figured it was because tito came from deep inside of Red Hat's rel-eng team?

[2015-05-14 19:55] xsuchy commented on #161
@ktdreyer Nope. It was born in Spacewalk git (https://github.com/spacewalkproject/spacewalk) and there have been dozens packages and we kept them in hierarchical and everything release engineer oriented went into /rel-eng/ directory. Even files which were later separated into project which got name Tito. And nobody changed that name, because there was no reason. End of history lesson :)

[2015-05-22 10:27] rholy commented on #149
One drawback of using different tool for building SRPMs and a different one for RPMs is that I have to define RPM macros twice if the macros are needed to build the binary RPMs, e.g.:

`tito build --rpm --test --rpmbuild-options='--define="snapshot 123"' --builder=mock --arg=mock=fedora-rawhide-x86_64 --arg='mock_args=--define "snapshot 123"'`

[2015-05-22 12:22] rholy opened #178 "MockBuilder fails if "--resultdir" is passed"
In order to run Tito automatically and collect the logs in case of an error, I wanted to run this command:
`tito build --rpm --test --builder=mock --arg=mock=fedora-21-x86_64 --arg='mock_args=--resultdir "/custom/path"'`
Apparently Tito expect the build RPMs to be present in the default path:
[code]

There is no other reliable way how to collect all the output produced by tito automatically.

[2015-06-15 12:00] domcleal opened #182 "Coloured output needs to be configurable"
d489dd9 / 53144dc added coloured output to tito, but the blue is rather hard to read for me on a black background.

![screenshot from 2015-06-15 12 55 46](https://cloud.githubusercontent.com/assets/482089/8159372/ea85f97a-135d-11e5-8896-ed93c65de274.png)

tito should probably:

1. have a simple on/off config option for coloured output
2. have at least two built in colour schemes (dark/light)
3. po

[2015-06-15 12:01] jumanjiman commented on #182
:+1:

[2015-06-15 14:05] awood commented on #182
@domcleal I'm going to add a NO_COLOR option that can be set to '1' or to 'True' in ~/.titorc that will turn off colors.  Is that sufficient or would you also want an option to turn off colors for specific commands?  E.g. `tito build --no-color`.  (Keep in mind that python-blessings is smart enough not to output ANSI codes when output is being redirected)

Also, you might also consider tweaking yo

[2015-06-15 14:20] domcleal commented on #182
Yep, that's sufficient, per-command isn't necessary.  I'd suggest calling it `COLOR` and defaulting to true, to avoid a double negative to disable it.

Yeah, this does happen occasionally, but most other programs are configurable :)

[2015-06-15 15:50] #182 closed

[2015-06-15 15:50] #161 closed

[2015-06-23 12:52] mluscon opened #184 "ReleaseTagger does not work after switch from VersionTagger"
If I switch my project from VersionTagger to ReleaseTagger and then perform first tag with ReleaseTagger  to e. g. 1.0.0-2, tito does create srpm from upstream sources 1.0.0 and difference patch from 1.0.0-1 to 1.0.0-2, but instead of that produces upstream sources incorrectly marked as version 1.0.0 which actually contains all changes up to 1.0.0-2.

Steps to reproduce:
1. tito tag => my-project-

[2015-06-23 14:22] dgoodwin commented on #184
Hmm, release tagger is for bumping rpm release. It's part of what you want, I think the missing piece is switching your Builder to either UpstreamBuilder or DistributionBuilder, used together this should do what you're looking for.

See man 5 tito.props for info on both those builders and the release tagger. Let me know if that still doesn't work.

[2015-06-25 09:41] mluscon commented on #184
Thank you for your help. It seems to be working now with DistributionBuilder.

[2015-06-25 09:41] #184 closed

[2015-07-02 18:17] dLobatog opened #186 "tito tag --keep-version doesn't respect release version"
Reproduce by creating a spec with a version & release above 1, say 1.2.4-2.
Run `tito tag --keep-version`. It should tag 1.2.4-2. Instead, it tries to tag 1.2.5.-1.

[2015-07-02 22:00] dgoodwin commented on #186
Expected behavior I'm afraid. When tagging a new version there is no reason to preserve a release > 1 AFAIK. I.e. It's not the second rpm release of 1.2.5, its the first. I would expect it to reset.

[2015-07-03 14:40] eLobato commented on #186
Oh it's not that I want to get 1.2.5-2, I would like tito to respect the spec and tag `1.2.4-2` as I'm indicating in the spec. Isn't the `--keep-version` parameter supposed not to modify the spec at all?

[2015-07-03 17:10] dgoodwin commented on #186
My mistake, indeed it should respect that with keep version.

[2015-07-06 06:11] ringerc commented on #147
Thanks for the comment @xsuchy . I didn't land up using tito for my release and build management as it wasn't a close enough fit and would've required *lots* of changes that might not be useful to others, plus it doesn't use mock, which was a showstopper. So I'm unlikely to tackle implementing patch-series support now.

[2015-07-06 06:12] ringerc commented on #145
@gjanssens Might be worth opening a new issue (or pull request) with the docs issue and referencing this one.

[2015-07-23 15:25] jhoblitt opened #187 "cli is missing --version flag"
This is minor but the cli does not respond to `--version` nor does `--help` display the version.  This means the user has to query the rpm db to determine the installed version.

[2015-07-24 15:59] domcleal opened #188 "KojiReleaser building to two SCL-enabled tags does not clean up temporary builder"
When KojiBuilder is configured to build to multiple tags and they are all using SCLs (as per tito.props), tito builds SRPMs using a temporary in-memory copy of the builder (which it enables the 'scl' option on) but it doesn't ever call the cleanup routine.  This causes a problem when using a GitAnnexBuilder, since the clean/dirty state is important when locking and unlocking files.

Slightly simpl

[2015-07-27 08:32] domcleal commented on #188
Fixed via #189.

[2015-07-27 08:32] #188 closed

[2015-07-28 13:08] FrostyX opened #191 "[rfe] tito tag --specify-version"
I am missing something like `--specify-version` for `tito tag` command.

Assume that your project has version `<major.minor.patch>`. When you do `tito tag`, the `patch` number is increased. That's cool, but when you want to increase the `minor` number, you have a problem.

There is simple, but kind of annoying workaround. Opening the spec file in text editor, setting the desired version and then r

[2015-07-28 13:09] domcleal commented on #191
`tito tag --use-version=1.2.3` ?

[2015-07-28 13:30] FrostyX commented on #191
Ah, I am sorry. I didn't know about `--use-version`. Can you please note it in manual page?

[2015-07-28 13:48] #191 closed

[2015-07-28 14:17] FrostyX commented on #191
Thank you very much for such a quick solution.

[2015-07-28 14:17] domcleal commented on #191
No problem!

[2015-08-03 12:21] ignatenkobrain opened #193 "[RFE] prepare patches"
What I have:
- 1 upstream repo
- some number of patches for Fedora
- 1 fedora repo

I'd want to have my own git repo which will combine upstream repo + my patches and I want automate updating releases in fedora. i.e.
1. get tag
2. do git format-patch
3. add patches to spec file

Hope I described enough.

[2015-08-03 12:37] ignatenkobrain commented on #193
For example, Debian does: http://http.debian.net/debian/pool/main/m/mesa/mesa_10.6.3.orig.tar.gz http://http.debian.net/debian/pool/main/m/mesa/mesa_10.6.3-1.diff.gz http://http.debian.net/debian/pool/main/m/mesa/mesa_10.6.3-1.dsc

orig.tar.gz has upstream sources
diff.gz is one diff for sources

I'd like to get tito making archive from original commits and get patches for current commit

[2015-08-03 19:32] xsuchy commented on #193
1. clone upstream git
2. tito init
3. (this step do with default version tagger) tito tag
3. set builder class in tito.props to tito.distributionbuilder.DistributionBuilder and change tagger to ReleaseTagger.
4. do changes directly in git
5. tito release - this will automatically create patches and put them in spec file,while preserving pristine tar file

[2015-08-03 21:05] ignatenkobrain commented on #193
@xsuchy thanks, how I should come with updating this? I mean after upstream will release new version?

[2015-08-12 08:14] xsuchy commented on #193
@ignatenkobrain The idea is that you work in branches derived from master. I.e. when new upstream release is available you will leave old branch, and you will create new branch from upstream one, and do:
* (this step do with default version tagger) tito tag
* set builder class in tito.props to tito.distributionbuilder.DistributionBuilder and change tagger to ReleaseTagger.
* do changes directly in

[2015-08-20 17:09] awood opened #194 "Mead builds should be able to push to branches"
Right now Mead builds always push to master of the MEAD_SCM location.  This practice works for current builds but is not practical for build hotfixes based on earlier code.  The Mead releaser should be able to take a branch as an argument and push to that branch.

[2015-09-08 10:00] FrostyX opened #196 "yum-builddep - Bad spec"
Lets image that we have some project, where `.spec` file is not located in its root directory. For instance:

    project
    ├── backend
    │   ├── project-backend.spec
    │   ├── ...
    ├── frontend
    │   ├── project-frontend.spec
    │   ├── ...

Then when we do

    cd project/backend
    tito build --rpm

We can end up with `ERROR: Please run 'yum-builddep backend/project-backend.spec' a

[2015-09-10 13:45] rholy opened #199 "Add a CoprBuilder"
Since the SRPM upload feature has been added to Copr recently, tito can be [easily](https://github.com/rholy/dnf-stack-ci/blob/5bee4fd78c54178d681540929f89d04a5bc08c2a/dnfstackci.py#L677) integrated with Copr. So it would be nice to ask tito to build a project in Copr.
Here is basically a code which might be modified to be used in `CoprBuilder`: https://github.com/rholy/dnf-stack-ci/blob/5bee4fd78

[2015-09-10 14:13] xsuchy commented on #199
See #198

[2015-09-10 14:26] dgoodwin commented on #199
Yeah I like #198, I view pushing to an external build system as a release, and a build as a local only thing. Does that work for everyone?

Being able to upload straight to Copr during release will be great.

[2015-09-10 15:09] rholy commented on #199
I am not familiar with `tito release`, let me take a look.

[2015-09-10 15:36] rholy commented on #199
So, #198 wouldn't allow me to submit a snapshot (a build from the current HEAD) to Copr, right? It works only with tags, doesn't it?
Would it be possible to support this use case?

[2015-09-10 15:40] rholy commented on #199
BTW, using Copr as a builder also e.g. allows one to build RPMs on other architectures than the host's one.

[2015-09-10 16:17] dgoodwin commented on #199
tito release --test should build from the current HEAD.

On Thu, Sep 10, 2015 at 12:40 PM, Radek Holy <notifications@github.com>
wrote:

[2015-09-10 17:02] rholy commented on #199
Oh, it's not in man pages... Ah, https://github.com/dgoodwin/tito/issues/175...
OK, #198 would be enough for me then, I guess.

[2015-09-10 17:02] #199 closed

[2015-09-10 17:11] rholy commented on #199
Heh, it's just few hours old... what a coincidence :D

[2015-09-10 19:53] xsuchy commented on #199
BTW you can configure it in config as well. E.g you can put in releaser.conf:
[code]
and then `tito release copr-msuchy-test` will create SRPM from latest commit and build it in Copr (see man releasers.conf(5))

[2015-11-06 08:03] finjulhich opened #202 "question: how to copr build upstream of F23 odb?"
F23 provides the odb-2.4.0 package. This is its git repo:
git://pkgs.fedoraproject.org/odb.git
I would like to build with CORP a version of odb rpm that comes from
git://scm.codesynthesis.com/odb/odb.git
I understand tito can help create the srpm to upload to COPR?
The steps in "How to create new release of RPM package in 5 seconds" didn't quite work.
I have tito installed on my F23.

[2015-11-06 12:05] xsuchy commented on #202
Define "didn't quite work".

[2015-11-06 13:00] finjulhich commented on #202
I happen to have created a makerpm user on my laptop.
I have the usual rpmbuild/BUILD RPMS SOURCES SPECS SRPMS   directory structure.
I am not sure I need it as I would want COPR to build the rpms for me.

Anyways, inside SOURCES, I did
    git clone git://scm.codesynthesis.com/odb/odb.git
so now I have SOURCES/odb
I went inside that and used tito.
   tito init
   tito tag

Already, at this stage,

[2015-11-06 13:03] dgoodwin commented on #202
You shouldn't need to create that rpmbuild directory structure but where you clone the repo doesn't matter much, it should still work with what you did. You need to keep going though, what went wrong. :)

[2015-11-06 13:18] finjulhich commented on #202
ok, tito init worked. Before I do tito tag (which failed):
I see there's no spec file inside SOURCES/odb.
Granted this is not exactly a tito question, but I see 2 places to get it:

1. odb owner provided one.
http://scm.codesynthesis.com/?p=odb/odb-etc.git;a=tree;f=binary/redhat;h=f277c92f7999f12438115b7d40b02d56d9172907;hb=93187055336c32812474400f7ac296b16bd4706a
That's not part of the git clone

[2015-11-06 15:51] finjulhich commented on #202
I took the fedora packager odb.spec file and I just copied in SOURCES/odb.
Changed the version to 2.5.0a as the odb developer did.

The spec file has a Source0: url which shows where to download the .tar.gz for odb,
but in my case, I don't need that. I already cloned the git repo instead.

I don't see this 'Source0' actually referenced elsewhere in the .spec file so I assume it has a particular me

[2015-11-30 23:45] user501254 opened #204 "Submitting builds to Copr fails."
src.rpm uploads to Copr fails.
Build directory in use: default (ie. /tmp/tito)

Error log:

[code]

`srpm_location` is probably not being passed properly to the Copr command line tool.
When I run `copr-cli build /tmp/titp/paper-icon-theme paper-icon-theme-1.0-1.src.rpm` everything works fine.

[2015-12-01 01:15] user501254 opened #205 "Doesn't obey settings in releasers.conf"
On omitting 'upload_command' and 'remote_location' variables, execution fails.
Error log:

    [ashesh@MISTRI paper-icon-theme] $ tito release paper-icon-theme
    Will release to the following targets: paper-icon-theme
    Releasing to target: paper-icon-theme
    WARNING: unable to lookup latest package tag, building untagged test project
    WARNING: .tito/packages/paper-icon-theme doesn't exis

[2015-12-01 12:21] dgoodwin commented on #204
Could you provide output from a run with --debug and ideally a link to the source repo where I could try dry-run builds. (if not the spec file would suffice)

[2015-12-01 12:23] dgoodwin commented on #205
What version of tito are you using? Upload_command is still required in the latest release, you can omit it only if you are running the latest tito from git master. Next release this field should be able to be omitted.

[2015-12-01 17:09] user501254 commented on #205
I am using version 0.6.0 from the fedora repo.
Thank you for letting me know. I was following the wiki over here.

[2015-12-01 22:25] user501254 commented on #204
Tito debug log: [tito-debug.txt](https://github.com/dgoodwin/tito/files/49132/tito-debug.txt)
Source: [paper-icon-theme/testing](https://github.com/user501254/paper-icon-theme/tree/testing)

I also tried installing tito from the git repo using the instructions provide in the README.md file but failed to run it so I am using the package available in the fedora repos.
Error log:

    [ashesh@MISTRI

[2015-12-01 22:29] #205 closed

[2015-12-09 14:19] bhtw opened #206 "Question: Can I use tito to build one rpm from several rams?"
**Hi**
We have to start a release/revision control procedure at work and plan to create rpm packages from git repositories that points to all git projects/repositories that belongs to our 1.0 release. We shall then later be able to install that rpm package on remote servers.

Given we have built an rpm for each repository we want to include in the 1.0 release, is it possible to create one "release

[2015-12-09 14:23] dgoodwin commented on #206
You could make an empty rpm which has all your other rpms listed as dependencies. Then build and create a yum repository containing all of these, enable the yum repository on end systems, yum install [metadatarpm], which will pull in all the dependencies.

Tito can build the meta-rpm, it can also help publish to a directory and generate the yum metadata for it so it can be used as a yum repository

[2015-12-09 14:23] #206 closed

[2015-12-09 21:54] jaxxstorm opened #207 "Possible to pass --rpmbuild-options to a releaser?"
On my test builds, I do this:

[code]

And it signs the RPM nicely.

I want to do this for a releaser. I tried this:

[code]

and a few other things, but got me nowhere. Is this possible?

[2015-12-10 07:50] domcleal commented on #207
This should be `builder.rpmbuild_options` (underscore, not hyphen).

[2015-12-10 10:12] jaxxstorm commented on #207
Perfect, thanks!

[2015-12-10 10:12] #207 closed

[2016-01-05 16:19] Hubbitus commented on #202
I also come to searches way do that.

Problem there what `tito` expect sources in repository which he try build. So he do git archive , upload resulted tarball (copy to temp directory) and replace `Source0` tag in spec file.
It will not work for Fedora repos because there no sources in repository. Instead tarballs uploaded in lookaside cache (dist server) and referred as `Source[0-N]`. Also there

[2016-01-05 16:33] xsuchy commented on #202
You are mixing two concepts here.
When you work with dist-git you **must** use fedpkg (or some of its clones).
Tito is for creating releases from **upstream source git**. I.e. you work directly on source files and you make tar/gem/rpm and release it. There is even releaser which can upload the result into Fedora dist-git and call fedpkg build in some branch so you do not need to call it manually.

[2016-01-05 17:16] Hubbitus commented on #202
I end up in exact situation as reporter of this ussue, I would create copr repo for some versions of packages which I also maintain in Fedora. That's versions which can't be updated in stable Fedora branches by our update policy.
So I would see repository equal by structure to Fedora (I even use 2 git remotes to pull changes).
As it is copr repo, it will be very cool to build package by commit, fo

[2016-01-05 21:59] xsuchy commented on #202
Next version of rpkg (1.41) - dependency of fedpkg - will be able to build directly in Copr using command: fedpkg copr-build. This may be solution for you.
Or maybe wait until we open dist-git in Copr for users, but this will take some time as we do not want to publish something which is not ready.

[2016-01-06 11:02] Hubbitus commented on #202
fedpkg copr-build is good news, i'll be happy try it for manual test builds instead of koji. But it does not solve problem build in copr by commit in git (github).

Could you please say is that possible archive what I want now configure existing builders and releasers of tito without [much] python programming?

[2016-01-14 02:32] qmx opened #208 "site url is giving 404"
rm-rf.ca/tito yields 404

[2016-01-14 02:37] jmrodri commented on #208
HA! Yeah @dgoodwin switched around his website and probably forgot about the tito url.

[2016-01-20 12:47] #196 closed

[2016-01-27 20:34] jflorian opened #212 "One step scratch builds with koji?"
My initial use with tito+koji was to build from SCM and that works well when I want to make a formal release.  For daily development though I don't want clutter git history (or the rpm's changelog) with all my mistakes while I'm crafting up some new feature.  I've since discovered this two step process that works wonderfully:

tito build --test --srpm --dist=.f21
koji build --scratch f21 /tmp/tito

[2016-01-28 07:50] xsuchy commented on #212
from `man releasers.conf`:
       Specify "builder.test = 1" in your releasers.conf target to enable --test builds. (uses the latest git HEAD rather than the latest tagged package) This can be useful for automating the publishing of a nightly build, which you would not want to continually have to tag

It works for all releasers - for `tito.release.KojiReleaser` as well.

The number before HASH is

[2016-01-28 15:00] jflorian commented on #212
Oh, once again the subtle distinction of _build_ vs. _release_ in tito has gotten me off on the wrong track at the start.  Since these were development builds that I had no intention of releasing I focused on `tito build` and pretty much ignored `tito release`, especially with TITO(8).  So... a BIG thank you for pointing me in the right direction.

_Please note that I'm running tito-0.6.2-1.fc21_

[2016-01-29 20:38] jmrodri commented on #208
Fixed by PR #213

[2016-01-29 20:38] #208 closed

[2016-02-16 10:51] dLobatog commented on #186
Any updates?

[2016-02-16 12:02] dgoodwin commented on #186
Nobody working on this afaik.

[2016-02-25 14:49] jaxxstorm opened #214 "doesn't work correctly on CentOS 7"
I'm trying to use tito to build an RPM, and it exits with `1` because it looks for the presence of `Wrote:` when building the RPM:

[code]

However, it _did_ create the file:

[code]

[2016-02-25 14:51] dgoodwin commented on #214
Could you paste full output of a run with --debug

[2016-02-25 14:58] jaxxstorm commented on #214
https://gist.github.com/jaxxstorm/bc2b32899a312e6e5274

[2016-02-25 15:00] jmrodri commented on #214
I see a ```Wrote: ``` in that output for the tarball but not the SRPM. What builder/tagger are you using?

[2016-02-25 15:02] jmrodri commented on #214
https://gist.github.com/jaxxstorm/bc2b32899a312e6e5274#file-outout-sh-L297-L298 looks like it prompt for a pass phrase during the build. @dgoodwin  I wonder if that affects the rpmbuild output.

[2016-02-25 15:04] jaxxstorm commented on #214
Yeah it doesn't prompt for a password, but it's blank and continues. Works fine on CentOS 6, but not CentOS 7..

[2016-02-25 15:12] dgoodwin commented on #214
That pw prompt worries me as well, it looks like it's right before the problem occurs too.

Kinda feels like line 299 and 300 are what we're after but they're missing a prefix we expect. Does rpmbuild on CentOS 7 no longer show Wrote? And what's up with the dangling ":" at the end...

@jaxxstorm could we get another gist with the centos output with --debug?

You could also try adding --no-cleanup

[2016-02-25 15:14] jaxxstorm commented on #214
So it is the password prompt that's the problem. I removed `--rpmbuild-options="--sign` from the script and it works as expected.

Obviously I can't just stop signing my packages, so what options do I have here?

[2016-02-25 15:14] dgoodwin commented on #214
Can rpms be signed after creation? (not something I've ever done)

[2016-02-25 15:16] domcleal commented on #214
Sure, `rpmsign --addsign *.rpm`.

[2016-02-25 15:16] jaxxstorm commented on #214
Yeah you can do it with `rpm --resign` but I'm not sure how that'll work with `releasers.conf`

I do wonder if this can be fixed though, I'll add do some more digging

[2016-02-25 15:18] dgoodwin commented on #214
Ok and fwiw it feels like a good feature for tito if you wanted to add some kind of option to supply a passphrase and automatically add the --sign option. Likely an env var so you don't have to put it into any tito config files.

i.e. RPM_SIGN_PASSPHRASE="blah" tito release mytarget.

Presence of the env var could trigger the behavior, or add an explicit builder option for it.

[2016-02-25 15:20] jaxxstorm commented on #214
Yes that'd be a great feature :+1:

[2016-02-25 15:39] jaxxstorm commented on #214
So I figured out the difference between CentOS 6 and 7 with rpmbuild.

In CentOS 6, it passes the request to sign the RPM right at the beginning of the build:

[code]

Where as with CentOS 7, it makes that request much late, right before running the rpmbuild:

[code]

It looks like as a result of the passphrase request, it chews everything from stdout up, and as a result tito can't find the `Wrote

[2016-03-04 09:17] pavlix opened #215 "tito doesn't check its arguments carefully and --help is ignored"
A program should never perform any actions when `--help` is among the command line arguments. It must either show the right help or say that `--help` is unsupported.

[code]

[2016-03-07 21:34] jflorian commented on #212
Please disregard my last comment WRT the oddity I saw.  I've since discovered that I merely needed to add something like the following to my tito.props:

[code]

So I think this ticket can be closed.  Thanks again for the guidance!

[2016-03-07 21:34] #212 closed

[2016-03-15 17:33] kostyrevaa opened #216 "Ubuntu package?"
Good day!
Does anyone miss sadness in his life and want something strange using tito on ubuntu? is there any publicly accessible ppa or something?

[2016-03-15 17:46] dgoodwin commented on #216
No one is running tito on Ubuntu as far as I know, I'm not sure how hard it would be to get it running given the rpm dependencies, but I suspect the answer is "quite".

[2016-04-12 14:38] ignatenkobrain opened #218 "tito doesn't support %autosetup/%autopatch"
if I use `%autosetup` in spec file which totally correct building fails.

[2016-04-12 14:41] dgoodwin commented on #218
More details please. Sample spec file, output of the failure when run with --debug.

[2016-04-12 14:45] ignatenkobrain commented on #218
It's very easy.

[code]

It will work as (applying all patches):
[code]

`%autopatch` just applies all patches.

tito doesn't modify spec in case of autosetup, because it's simply not implemented.

[2016-04-12 14:45] ignatenkobrain commented on #218
so with `%autosetup` it tries to cd into `%{name}-%{version}` which doesn't exist in archive prepared by tito.

[2016-04-12 14:57] dgoodwin commented on #218
Full output of a build with --debug and --no-cleanup please, it would be great if you could go into the directory left over from the use of --no-cleanup and provide a full listing listing of the files/folders there.

Can you get it working with tito if you switch to traditional use of just %setup? What does your spec file look like in both cases.

http://www.rpm.org/wiki/PackagerDocs/Autosetup see

[2016-04-12 14:58] ignatenkobrain commented on #218
yes, it starts working

if you will add hook somewhere in tito code to add `-n` to `%autosetup` it will start working

[2016-04-12 18:52] dgoodwin commented on #218
Is there a particular reason you've ignored 2 requests for a run with --debug, and a sample working vs not working spec file?

Are you saying it works with just:

%setup

But fails with just:

%autosetup

But works again with:

%autosetup -n?

What options are you providing to -n?

If the fix is just to use -n, can you modify your spec file so it works? I use %setup -n in everything, including tit

[2016-04-12 18:56] ignatenkobrain commented on #218
[code]

[code]

[2016-04-12 18:56] ignatenkobrain commented on #218
[code]

[2016-04-12 19:01] ignatenkobrain commented on #218
https://github.com/dgoodwin/tito/blob/80ce4c7e2b17b339c17a3f5595e99412987fe11d/src/tito/builder/main.py#L756
https://github.com/dgoodwin/tito/blob/80ce4c7e2b17b339c17a3f5595e99412987fe11d/src/tito/common.py#L684

Bug in this 2 files in 2 lines. tito doesn't support `%autosetup`, it adds `-n ...` only to `%setup`.

[2016-04-12 19:03] dgoodwin commented on #218
Ok now we're in business, --test is in play, etc. I will take a look shortly.

[2016-04-14 19:30] #218 closed

[2016-04-20 03:10] shawnxue commented on #214
I got this error when I use tito on cent 7.1

[root@localhost tito]# tito init
Traceback (most recent call last):
  File "/usr/bin/tito", line 5, in <module>
    pkg_resources.run_script('tito==0.6.6', 'tito')
  File "/usr/lib/python2.7/site-packages/pkg_resources.py", line 540, in run_script
    self.require(requires)[0].run_script(script_name, ns)
  File "/usr/lib/python2.7/site-packages/pkg_res

[2016-04-20 11:56] dgoodwin commented on #214
Is this installed via rpm? Did you do anything unusual to install it?

python-blessings should be an rpm dependency and installed for you.

[2016-05-07 15:24] Ablu opened #222 "tito without "special" tag names"
Hello,

is it possible to use tito in repositories without forcing the use of "tito tag" on each release?

I basically only want to drop a .spec file into a git repository and have a copr build with webhook which is using the tito build for simply building a new rpm based on a specific branch.

So can i make tito use the tag in "git describe HEAD" somehow?

First I tried without a .tito/packages f

[2016-05-09 11:41] dgoodwin commented on #222
Not possible today no, you could write a custom builder perhaps though to bypass all expected use of the git tag and do something else. Will be tricky though as the tag is a fairly integral part of the tool and it's definitely always been assumed to be there.

[2016-05-10 18:51] xsuchy commented on #222
I thought about it too. When there is no previous tag. There is alway 0. If there is some tag, then the number is "number of commits since last tag". It would be nice to change the semantics to "number of commits since last tag if there is any or number of commits since first commit otherwise". This way packages created by `tito build --test --rpm` on repository without tag will be upgradable.

[2016-05-10 18:58] Ablu commented on #222
That would be cool... I am not in a position to force upstream to use a
special tagging system and even use special tagging commands for
managing their git repository.

[2016-05-13 11:33] xsuchy commented on #222
Should be addressed by https://github.com/dgoodwin/tito/pull/224

[2016-05-14 08:14] Ablu opened #227 "Build with specfile from subdirectory, while src/ is toplevel"
Hi,

is it possible to build a specfile which in (for example) `dist/tito/<name>.spec` while the archive generated by `git archive` must also include the git root directory?

Regards,
Ablu

[2016-05-14 10:03] xsuchy commented on #227
See https://github.com/dgoodwin/tito/pull/179 which was never finished and therefore merged.

[2016-05-25 16:12] lubomir opened #228 "Allow changing git commit message"
When creating a tag, tito will create a git commit. It would be nice to be able to change the commit message. Currently it is [hardcoded to use the "Automatic commit of package [X] Y [Z]." format](https://github.com/dgoodwin/tito/blob/77c02ceb441386850237756b45b3909574a0ae9e/src/tito/tagger/main.py#L481).

I would like to have an option to put custom format string into tito.props.

[2016-05-27 06:58] rdupz opened #230 "Link is broken"
Hi,

At the top of the project page, there is  [http://rm-rf.ca/tito](http://rm-rf.ca/tito) which is broken.

Regards,

[2016-05-27 13:43] #228 closed

[2016-05-30 11:51] dgoodwin commented on #230
Removed, thanks.

[2016-05-30 11:51] #230 closed

[2016-07-08 13:43] dkopecek opened #232 "destination_file setting of the version_template section doesn't seem to work"
Hello, I've tried to use the destination_file setting to have the current version stored in a file. Maybe I'm doing something wrong but there's no file written after I do a `tito tag` operation.

These are the contents of the relevant files:
[code]

[2016-07-11 14:34] FrostyX opened #233 "Tito is not able to install package with not-yet-installed dependencies."
Tito is not able to `--install` package with not-yet-installed dependencies.
## Steps to reproduce

[code]
## Actual results

[code]
## Consequences

For instance in our Vagrantfile we have following workaround because of this

[code]

instead of just simple

[code]
## Suggested solution

I want to implement the solution and send PR, but first I want to discuss your ideas about it.

Obviously we c

[2016-07-11 18:23] dgoodwin commented on #233
Checking if dnf is available sounds great, if yum has an equivalent we could use that there as well, otherwise fall back to rpm. Preemptive thanks for the patch!

[2016-07-11 20:42] FrostyX commented on #233
Thank you @dgoodwin for :+1:
I am going to work on it this week and then I will be happy for some code review :-)

[2016-07-31 10:23] cass00 opened #235 "Kernel srpm"
Creating an srpm from a kernel repo does not work. Repo to test with is `https://github.com/cass00/fedora-surface-pro-3-kernel/tree/tito_test`.
Command used:
`tito build -o /some_folder --srpm --debug --no-cleanup`
 Error message is error:
`File /some_folder/rpmbuild-kernel6cson9d6/SOURCES/linux-4.6.tar.xz: No such file or directory`
It seems that tito doesn't (down)load the kernel source file (`l

[2016-09-13 06:58] xsuchy commented on #204
It seems you do not have installed python-blessings. Tito.spec have it correctly in requires so there when user use package, there should be no problem.

[2016-09-13 07:01] xsuchy commented on #222
This can be closed as the #224 has been merged.

[2016-09-13 11:16] #222 closed

[2016-11-18 12:39] msehnout opened #237 "[RFE] Support for programming language package managers"
It would be nice, if `tito` could cooperate with a package manager specific to a certain programming language.

For example these package managers: [Cargo](http://doc.crates.io/manifest.html), [OPAM](https://opam.ocaml.org/doc/Packaging.html#Thequotopamquotfile), [Cabal](https://wiki.haskell.org/How_to_write_a_Haskell_program#Add_a_build_system) have their own configuration file with a line specif

[2016-11-18 13:05] dgoodwin commented on #237
There's some precedent here, tito will automatically update a setup.py version if one exists. However I'm not totally clear on why the template mechanism doesn't suffice.

Tito is made to build specific tags (including past tags) and exports the source for that tag during the build, which would not include uncommitted or untagged changes. (which is good for reproducible builds)

So I would expect

[2016-11-18 13:31] msehnout commented on #237
The problem I'm thinking of would be like this: You make a tag, then you continue developing the package and meanwhile change dependencies etc. in `Cargo.toml `. When you are ready to release new version, you have to recreate the template again to contain the same as the current `Cargo.toml`.

In this case, it would probably be better not to use the template at all and just bump the version in `Ca

[2016-11-18 13:33] dgoodwin commented on #237
Hmm I think I understand yes, that sounds exactly like what we do for setup.py. I would be open to a PR adding that functionality.

[2016-11-18 13:41] msehnout commented on #237
ok, I'll take a look at it.

[2016-11-18 13:44] dgoodwin commented on #237
Here is the relevant setup.py example: https://github.com/dgoodwin/tito/blob/master/src/tito/tagger/main.py#L135

Might be good to think about how to organize if this list of supported files starts to grow, or how to let users control which ones are enabled or disabled, I think setup.py is assumed if we see one, we try to update it. Not sure if that is a good path forward or not.

There are tests

[2016-11-22 15:48] msehnout commented on #237
I made a concept of this feature and it looks like this:

Usage in tito.props:
[code]

How it works in the code:
1. New step in _tag_release method. Here I read the config file and decide what tagger to use:
https://github.com/msehnout/tito/blob/cargo/src/tito/tagger/main.py#L143
2. New file with the tagger class for Cargo (adding other pkg managers would require similar class):
https://github.com

[2016-11-22 15:54] dgoodwin commented on #237
PR would be very helpful, I will take a look once it's up, thanks.

[2016-12-12 20:52] jflorian opened #241 "tito should not assume git remote is named `origin`."
Sometimes I want to repackage software with local mods.  In these cases I'd prefer to reserve `origin` for the true _origin_, the upstream source.  However, because tito has `origin` hard-coded in get_git_repo_url() of common.py I have no choice but to compromise the naming of my remotes.  Ideally this value would be pulled instead from a config file.

[2016-12-13 10:54] xsuchy commented on #235
Tito has different workflow from fedpkg. It does not download Source0, nor any other sources. It assume that sources are presented in git (expanded). And during build it call git-archive and pass it to Source0 (very simplified).

[2016-12-17 07:29] fusion809 opened #243 "tito example GitHub repos for one to learn from?"
Hi,

I am interested in possibly trying out this tool but I would like to see some (at least 5) example GitHub repos that are being used by Copr (with the help of tito to convert to SRPMs) to build RPMs. This would serve to help teach me how to do this myself. I learn best by seeing examples, rather than reading documentation. I would also like to ask is it possible to use tito to download the nec

[2016-12-19 17:37] xsuchy commented on #243
https://github.com/rpm-software-management/mock
https://pagure.io/copr/copr
https://github.com/dgoodwin/tito
https://github.com/rpm-software-management/dnf
https://github.com/rpm-software-management/dnf-plugins-core

Not possible with Tito.

[2017-01-05 21:23] stevekuznetsov opened #246 "rpmbuild failure in CentOS tests"
[code]

Is this an environment failure or something in the tests? Testing `master`.

[2017-01-05 21:25] stevekuznetsov commented on #246
<details>
<summary> Here's a full test output: </summary>

[code]

</details>

[2017-01-05 21:33] stevekuznetsov opened #247 "builddep fails on Fedora rawhide"
Seeing this after updating the Dockerfile to use `dnf` and not having `yum` crash on us all the time:
[code]

<details>
<summary> Full `docker build` output </summary>

[code]

</details>

[2017-01-06 13:12] dgoodwin commented on #247
Looks like this: https://bugzilla.redhat.com/show_bug.cgi?id=1409590

Possibly fixable with a full dnf update inside the container.

[2017-01-06 13:14] dgoodwin commented on #246
Looks like legit test failures to me, the --noclean failure is a recent change, must not be valid for rpmbuild on EL6.

The autosetup feels like it might be a Python 2 vs 3 issue surfacing.

[2017-01-06 15:42] stevekuznetsov commented on #247
Ok, I'll try that.

[2017-01-09 21:27] ktdreyer commented on #193
This sounds similar to how we mananage patching with https://github.com/openstack-packages/rdopkg , where there's a clear distinction between "upstream repository", "fedora patches repository", and "dist-git repository".

[2017-01-09 21:38] ktdreyer opened #252 "manage __version__ numbers in __init__.py"
https://www.python.org/dev/peps/pep-0396/ specifies how Python packages should define a `__version__ variable`.

If a package has a `__version__` variable defined in an `__init__.py`, Tito should increment that value (similar to the existing Tito method `_update_setup_py()`)

[2017-01-09 21:40] ktdreyer commented on #146
I'm interested in this feature as well. It would be great if the upstream tags were simply `0.0.1` or `v0.0.1`, for example.

[2017-01-11 22:18] mtinberg opened #253 "debug flag should cause run_command to log command, output"
I had a problem with tito while debugging a problem with mock that while src/common.py run_command  has the option of logging the command and output if print_on_success is set it only triggers if the subprocess exits non-zero, which mock does not do if /usr/sbin/mock is run instead of /usr/bin/mock, it prints an error and exits 0, which tito does not show even when --debug is set.

If run_command

[2017-01-16 15:45] rmestrum opened #254 "Building srpm is failing"
The build of a srpm fails with the following message:

[code]

I'm using tito 0.6.9 on CentOS Linux release 7.3.1611 (Core)

[2017-01-16 16:58] xsuchy commented on #254
I suppose that:
`grep Source *spec`
will give you something like:
`Source1: test.txt`
This is wrong when using Tito. Tito will create the sources itself. Tito will git-archive whole directory and pass it as Source0. You should not pass any additional sources.

[2017-01-17 01:45] jmrodri commented on #254
What's the spec file look like?

[2017-01-17 01:57] jmrodri commented on #253
@mtinberg your suggestion is that if '''--debug''' is present, '''run_command'' should print out the following information even if status code was > 0.

[code]

I assume having it exit with an error is still acceptable.

[2017-01-17 02:12] jmrodri commented on #253
How would this work for you?

[code]
Basically if --debug is supplied we always print out the Command, Status code, and Command output. If the command succeeds no error. Otherwise, the error is also printed out like it would before.

[code]

[2017-01-17 02:20] jmrodri commented on #243
More projects:

https://github.com/candlepin/candlepin
https://github.com/candlepin/python-rhsm
https://github.com/candlepin/subscription-manager
https://github.com/candlepin/rho
https://github.com/jmrodri/sm-photo-tool

There are probably others but that's a good set.

[2017-01-17 02:29] jmrodri commented on #241
Interesting. It is definitely true we look at the origin url. We could probably make it configurable for the repo and if not present default to origin. Do you have an example repo that uses your setup that I could look at?

[2017-01-17 02:37] jmrodri commented on #233
Fixed by PR #234

[2017-01-17 02:37] #233 closed

[2017-01-17 02:39] jmrodri commented on #1
@jumanjiman yeah we can totally close this issue. Who the heck still uses RHEL 5? :)

[2017-01-17 02:39] #1 closed

[2017-01-17 02:51] jmrodri commented on #30
This still occurs. I was able to recreate it with the latest version.
[code]

[2017-01-17 02:56] jmrodri commented on #30
You should use ```--changelog=MESSAGE``` for this.

[code]

The ```--auto-changelog-message``` is for new packages to avoid using ```initial tito build```

[2017-01-17 02:56] #30 closed

[2017-01-17 03:03] jmrodri commented on #34
Closing, 4 years with no complaints :)

[2017-01-17 03:03] #34 closed

[2017-01-17 08:24] rmestrum commented on #254
My specfile looks like this:

[code]

When i run `rpmlint ` on this specfile I get no errors or warnings

[2017-01-17 10:15] xsuchy commented on #254
This is good for `rpmbuild` but Tito assume either:
`Source: https://somedomain/some/path/%{name}-%{version}.tar.gz`
or
`Source: %{name}-%{version}.tar.gz`

Tito will create that tar file for you.

[2017-01-17 12:39] #29 closed

[2017-01-17 12:40] #253 closed

[2017-01-18 13:51] jflorian commented on #241
@jmrodri , unfortunately I don't have any examples that are fully, publicly accessible. However, I can share the setup of remotes for one particular example:
[code]

In this example, I started with the Koji repo from `upstream` (the Fedora Project) and made `myfork` from that on their same Pagure instance.  That's enough to develop and share those developments with upstream.  However, for our loca

[2017-01-18 14:07] domcleal commented on #241
I don't think this is specific to a particular repo or project - remote names can be set in any repo (i.e. a local clone). I have this same issue with tito projects, but because I normally use the remote name "project" instead of "origin" in all of my local clones so I know exactly where I'm pushing to (`git clone ...; git remote rename origin project`).

It'd probably need to be configurable in `

[2017-01-18 14:10] dgoodwin commented on #241
Tricky though as if it has to be in ~/.titorc, it seems like something unlikely to match for all git repos that user checks out. Would need to be in ~/.titorc, but repo specific.

[2017-01-18 14:11] jflorian commented on #241
@dgoodwin, agreed.  I definitely have plenty of repos where the origin is very much local/private.

[2017-01-18 14:18] domcleal commented on #241
Good point - perhaps a $PWD/.titorc should be supported to override ~/.titorc on a per-repo basis, allowing users to customise behaviour either way.

[2017-01-23 20:58] chris1984 opened #258 "Add support for Ubuntu 16.04"
Not everyone use Fedora, please add support for Ubuntu 16.04

[2017-01-26 18:39] #247 closed

[2017-01-27 12:21] rmestrum commented on #254
Problem solved. The files that should be included in the RPM where not at the git tag.

[2017-01-27 12:21] #254 closed

[2017-01-28 21:00] stevekuznetsov commented on #258
What issues are you running into, specifically, on Ubuntu? I was trying to set up some of the tests to run on Ubuntu and noticed it was very difficult to get the `rpm` library dependencies. Is there something in `tito` specifically that makes it hard to use on Ubuntu, or is it mostly dependencies?

[2017-01-28 21:02] stevekuznetsov commented on #246
This is fixed now.

[2017-01-28 21:02] #246 closed

[2017-01-28 21:04] stevekuznetsov commented on #241
Why wouldn't it be appropriate to place this in `${repo}/.tito/tito.props`? That would allow for it to be repo-specific without any extra mapping necessary.

[2017-01-28 21:10] stevekuznetsov commented on #141
Fixed in https://github.com/xsuchy/tito/commit/f5f9e22437e48c78429417e834eaa8f33147d107

[2017-01-28 21:10] #141 closed

[2017-01-28 21:11] stevekuznetsov commented on #142
This is no longer the case:
[code]

[2017-01-28 21:11] #142 closed

[2017-01-28 21:21] stevekuznetsov commented on #160
Today `tito` will use `--debug` to set the `$DEBUG` envar and output as expected:

[code]

[2017-01-28 21:21] #160 closed

[2017-01-28 21:22] stevekuznetsov commented on #171
This is beginning to be addressed with #264

[2017-01-28 21:22] #171 closed

[2017-01-28 21:56] stevekuznetsov commented on #168
Closed in #169

[2017-01-28 21:56] #168 closed

[2017-01-30 12:31] dgoodwin commented on #241
Yeah that would work, I think that's roughly what domclean was proposing as well.

[2017-01-30 12:32] dgoodwin commented on #258
Curious if this was a request to be able to build rpms on Ubuntu with tito, or a much more involved request for dpkg building support.

[2017-03-01 04:59] rohanpm opened #274 "tito tag --use-version option is ignored with ReleaseTagger"
The --use-version option to tito tag is ignored if tito.tagger.ReleaseTagger is used.

tito version:

    $ rpm -q tito
    tito-0.6.10-1.el7.noarch

.tito/tito.props:

  [buildconfig]
  builder = tito.builder.Builder
  tagger = tito.tagger.ReleaseTagger
  changelog_do_not_remove_cherrypick = 0
  changelog_format = %s (%ae)

Steps to reproduce:

- Run `tito tag --use-version 1.2.3`, and save chang

[2017-03-01 13:03] stevekuznetsov commented on #274
I'll look into this. Thanks for the bug report.

[2017-03-01 13:14] stevekuznetsov commented on #274
@rohanpm could you please provide the RPM version of `tito` where this worked in 0.6.9? The change that immediately looks to be the culprit was already in the tree for the 0.6.9 release, so I just want to verify.

[2017-03-01 22:13] rohanpm commented on #274
I don't have RPM version - for earlier versions I tested from git tag, installing to virtualenv via "python setup.py install".

At tag tito-0.6.10-1 the problem was reproducible and at tag tito-0.6.9-1 it wasn't.

I thought that commit 6b57b0bcbcbb869 between 0.6.9 and 0.6.10 looked relevant.

[2017-03-01 22:52] stevekuznetsov commented on #274
Yeah, a couple things come to mind -- @dgoodwin we should hash out a test matrix for [`VersionTagger._bump_version()`](https://github.com/dgoodwin/tito/blob/master/src/tito/tagger/main.py#L377-L436) -- somewhere along the line the refactor to that method led to this regression but it's hard to reason about as it is factored today.

[2017-03-13 16:21] dcesari opened #275 "tito with autoconf/automake/libtool"
Hi, i am trying to apply tito to a set of packages managed with autoconf/automake/libtool, see e.g. https://github.com/dcesari/f03gl and https://sourceforge.net/u/cesari/anttweakbar/ci/master/tree/.

Up to now the work succeeded but it implied modifications to the spec file which broke the traditional autotools build from a tar.gz generated with `make dist`. For the moment I would like to keep bac

[2017-03-14 10:02] xsuchy commented on #275
Can you give us example how the spec will differ? I.e. example of those operations for tito/traditional build.
Ad your question - no, tito does not pass any special macro.

[2017-03-14 11:30] dgoodwin commented on #275
I'd probably be ok with a patch to specify an always on rpmbuild option in the tito.props for a particular repo, or perhaps something baked into tito itself indicating tito is building.

[2017-03-14 13:02] dcesari commented on #275
Thank you for the comments, differences encountered up to now are:
 * skipping the `autoreconf` step in traditional build since `make dist` produces a tar with the configure script, while a checkout from git does not (but this is mainly to speedup the build and avoid extra dependencies)
 * difference in the setup macro, something like `%setup -q -n %{lowercasename}-%{version}` vs `%setup -q` becau

[2017-03-23 18:56] chris1984 commented on #258
Hi,

This is the error I am getting:

chrobert@vault111:~/Dropbox/git/tito$ tito init
Traceback (most recent call last):
  File "/usr/local/bin/tito", line 4, in <module>
    __import__('pkg_resources').run_script('tito==0.6.10', 'tito')
  File "/usr/lib/python2.7/dist-packages/pkg_resources/__init__.py", line 719, in run_script
    self.require(requires)[0].run_script(script_name, ns)
  File "/us

[2017-03-23 19:00] chris1984 commented on #258
After talking with @dgoodwin going to close this out and I will spin up a Fedora vm somewhere to use.

[2017-03-23 19:00] #258 closed

[2017-03-31 13:11] lcarva commented on #274
I'm also seeing this on `tito-0.6.10-1.fc25.noarch`. Downgrading to `tito-0.6.6-1.fc25.noarch` fixes the issue.

[2017-05-04 13:50] brianjmurrell opened #279 "build from .spec and tarball?"
I have a tito project where each subdir contains an RPM to be built.  I've started initially trying to just build in a dir with a specfile and a tarball, extracted from an SRPM.  However when I try to build that the build fails:
[code]

I ended up having to unpack the tarball and move it's contents up into the directory with the specfile before `tito build --rpm --test` would work as such:

[code]

[2017-05-04 14:34] xsuchy commented on #279
If you have tar.gz in your git then you want to use tito.builder.NoTgzBuilder. See https://github.com/xsuchy/packaging/blob/master/rel-eng/tito.props for example (and it is documented in `man tito.props`)

[2017-05-04 15:24] brianjmurrell commented on #279
Ahhh.  I had wondered if I needed a different builder.

When I put a tito.props file in a subdir does it inherit the settings from the global tito.props that I don't specify in the subdir tito.props?

[2017-05-04 16:38] brianjmurrell opened #280 "error: File /tmp/tito/rpmbuild-django-picklefieldWXXG0_/SOURCES/django-picklefield-git-0.b067dae/django-picklefield-0.1.9.tar.gz: No such file or directory"
I'm trying to build using the _NoTgzBuilder_ builder with a spec + tarball using this `tito.props`:
[code]

Where the spec and tarball comes from a [SRPM](https://kojipkgs.fedoraproject.org/packages/django-picklefield/0.1.9/2.fc17/src/django-picklefield-0.1.9-2.fc17.src.rpm).

I've `tito tag`ged with `tito tag --keep-version --no-auto-changelog` but getting this error trying to `tito build --no-cl

[2017-05-04 16:46] dgoodwin commented on #280
Is this in a public repo I could play with?

[2017-05-04 18:15] brianjmurrell commented on #280
It's not I'm afraid.  But reproducing should be pretty simple:

[code]
and now that I test this reproducer, it works.  ~sigh~

[2017-05-04 18:31] brianjmurrell commented on #280
Hrm.  Except I have it happening again, with a different package

[2017-05-04 18:40] brianjmurrell commented on #280
Ahhh.  I forgot to make this change:

[code]

Ideally that should be in (or immediately after) my initial "Initialized to use tito." commit.  But clearly I forgot.  :-(  If I commit that and squash it into the first commit of the repo, will i confuse tito?  If so, will I equally confuse tito just by moving the commit to the second commit without squashing it?

[2017-05-04 18:50] dgoodwin commented on #280
I suspect that would break your tag as it points to a commit that has now changed. I would squash it in, manually delete any previous tag, and re-tag with --keep-version (most likely)

[2017-05-04 18:51] dgoodwin commented on #280
or just remove your previous tag commit and re-tag.

[2017-05-04 18:56] brianjmurrell commented on #280
Yes, I think a `git rebase -i` will change the sha1s of all of the commits, thereby not having the git tags on the right commits.  But if I just move the tags back to where they should be relative to the new sha1s, would that be enough?  Or does tito have some other information about where tags where stored somewhere else?  I couldn't find any.

[2017-05-04 19:08] dgoodwin commented on #280
That should be it afaik.

[2017-05-07 21:16] brianjmurrell opened #281 ""release" strategy for Copr"
I wonder what is a reasonable releaser when building on Copr.  `tito.release.YumRepoReleaser` seems reasonable, but I don't really want to `rsync` my packages anywhere.  They are useful enough right in the Copr project repository without a need to put them anywhere else.

[2017-05-08 11:43] dgoodwin commented on #281
Not clear what you mean by being useful right in the Copr project repository? There is a Copr releaser but that would be separate from the Yum releaser.

The Yum releaser today was meant to pull down a repo and then update and re-push it. I can see a case for generating a releaser that isn't interacting with a remote yum repo, just generating one locally and letting you do whatever you want with i

[2017-05-08 12:51] brianjmurrell commented on #281
I just mean that Copr already creates a working Yum repo for a given project that has Packages in it.  There is no need to push them somewhere else.

Yes, I think that is what I am probably referring to.

TBH, I'm not sure I quite grasp this process of "release" in the context of tito.  What exactly is it doing?  What is it's purpose?

[2017-05-08 13:07] dgoodwin commented on #281
I suspect yum repo releaser is not what you want, there is an explicit Copr releaser, that doesn't involve generating a yum repo which from the sounds of it you don't want at all.

tito releasers are just for publishing the code, we have one for pushing to fedora dist-git, copr, koji, etc. In your case it sounds like Copr releaser is what you want.

[2017-05-08 13:22] brianjmurrell commented on #281
So, I have a github "tito repo" in the RPM-per-subdir format with a specfile and tarball in each subdir.  I've created a Copr project to build all of the packages (i.e. in the subdirs) and accordingly created "Package"s in Copr as "tito" sources and for each Package pointed at the github repo and named the subdir.  In Copr I then run **Rebuild** on a Package when I have pushed something new for it

[2017-05-08 13:27] dgoodwin commented on #281
Does copr have a pull build mechanism? I wasn't aware.

The tito workflow would be:

- add new tarball to your git repo
- tito tag
- tito release copr to build a srpm and push it to copr

[2017-05-08 13:39] brianjmurrell commented on #281
https://docs.pagure.org/copr.copr/user_documentation.html#github-webhooks is what I was planning on using.

I suppose using that functionality, I probably don't even want/need to use a tito "releaser" then, yes?

[2017-05-08 20:23] xsuchy commented on #281
While you can use webhooks on Pagure and GitHub and it is most comfortable thing, user still may find Copr releaser usefull. Especially if you have project on different system: Gitlab, or its own git repo.

YumRepoReleaser is still useful if you cannot build your package on Copr as there are some legal restrictions. So you can push it to your own repo hosted on your server.

[2017-05-09 12:03] brianjmurrell commented on #281
Oh yes.  I was certainly not suggesting that tito's releaser functionality should go away.  I am sure it is useful for lots of use-cases still.

I was just trying to confirm that using Corp/GitHub webhooks as I am, I don't need the releaser functionality, do I?  Is there something it's buying me that I am not seeing?

[2017-05-10 19:50] brianjmurrell opened #282 "multiple tags on a single commit"
If I commit a bunch of different RPMs into a git repo as a series of commits where each commit is a different subdir, and each subdir with a specfile and tarball, etc. and `tito tag` each commit and i add it, is there any problem squashing those down into a single commit at the end?

I imagine I am going to wind up with a single commit of a bunch of subdirs with a whole load of tags on the same co

[2017-05-11 11:34] dgoodwin commented on #282
I genuinely am not sure myself, but there's a definite possibility of problems, though I can't pinpoint where just yet. Would recommend against if possible.

[2017-05-18 08:57] evgeni commented on #274
Downgrading to `tito-0.6.9-1.fc25.noarch` is enough.

[2017-05-18 09:36] evgeni commented on #274
Just run a `git bisect` between 0.6.9 and 0.6.10, it's indeed https://github.com/dgoodwin/tito/commit/6b57b0bcbcbb8695c6bc072b22a0ae59ec0990b3 which breaks this.

[2017-05-18 10:31] evgeni commented on #274
The problem with https://github.com/dgoodwin/tito/commit/6b57b0bcbcbb8695c6bc072b22a0ae59ec0990b3 seems to be that it goes on and uses `tito.tagger.main.ReleaseTagger`, not `tito.tagger.main.VersionTagger` (`ReleaseTagger` is what I have in `tito.props`).

The following patch fixes it for me:
[code]

[2017-05-18 15:05] stevekuznetsov commented on #274
Good catch @evgeni. So to reiterate what I commented on the other post -- what would a user expect from a `ReleaseTagger` when they pass `--use-version`? That seems a little nonsensical to me and IMO should be an error.

[2017-05-18 15:20] evgeni commented on #274
Well, it might be worth an error. But the behavior until 0.6.10 was exactly that: force the `ForceVersionTagger` if `--use-version` was given. And my patch restores that behavior, but using `VersionTagger`.

The UX problem is, that `VersionTagger` will always create a new version with `release=1`, so it's also not a useful setting for `tito.props` (in my case at least). So till now we would have u

[2017-05-18 15:23] stevekuznetsov commented on #274
So in a normal workflow you use the `ReleaseTagger` for incremental updates and then when you are ready to bump a version you `tito tag --use-version`? Incidentally @dgoodwin this was definitely a UX gap for us when we were learning `tito` as well as the tool means you barely ever touch your `.spec` file manually, but the tool seemed to have a gap for anyone that wanted to bump a major version. If

[2017-05-18 15:30] dgoodwin commented on #274
Yeah that was IIRC the intent behind --use-version. It's pretty weird though given how we use taggers, and this bypasses the one you have set. Almost feels like all taggers should have to implement it.

[2017-05-18 15:34] stevekuznetsov commented on #274
What would the `ReleaseTagger` do with it? If I had release 4 would I bump version and also release to 5? If I reset to 1 then it's just  the `VersionTagger` behavior I want.

[2017-05-18 16:09] evgeni commented on #274
Yeah, so I want/need either

* version=N, release=R → version=N+1, release=1 (`VersionTagger`)
* version=N, release=R → version=N, release=R+1 (`ReleaseTagger`)

So it would boil down to the fact that I can't choose the tagger on the cli (and the cli offering me `--use-version` and `--use-release` but not all taggers support that).

[2017-05-26 11:09] #274 closed

[2017-06-02 13:46] brianjmurrell opened #290 "use of tags doesn't work very well with GitHub and pull-requests"
Let's say I have a tito repo of RPMs in the one-per-subdir format on GitHub.  I want to update an RPM that is in a subdir so I create a branch, do my work locally including testing that it builds, etc.  I then `tito tag` it and push up the branch and open a PR on it.

The project reviews the work, accepts it and merges it to master.

All good except that the tag that _tito_ created on the branch s

[2017-06-02 14:02] jmrodri commented on #290
I don't think that's how the tag was intended to be used. The tags are meant for a particular release of the software that ends up in an rpm. I would expect the changes to be done in a PR, have them merged to the project. THEN tag the project in master to release that particular package.

Since `tito tag` simply uses a `git tag` behind the scenes they will work like any other `git tag`. Also tags

[2017-06-02 14:27] dgoodwin commented on #290
Tags are not per branch they just reference commits, technically if you push a tag, it's already repo wide, the commit just hasn't been merged into master yet and won't appear in it's history. Once the PR merges, you should see that tag in your git history for master, provided you did not make any changes to that commit in the PR. This leads to the point that PR's for tito commits don't really mak

[2017-06-02 14:29] stevekuznetsov commented on #290
We ran into this as well -- there's no way for someone to make a PR in which they tag something. You can't bring in a tag from a PR. This would be really nice -- we do something like this:

 - build artifacts from commit `x`
 - tag it as a release
 - test artifacts
 - if successful, push it all up

This looks a lot like the normal PR flow but we need to do it with escalated privileges since we can

[2017-06-02 14:54] brianjmurrell commented on #290
@dgoodwin:  Ahhh!  What you are saying makes complete sense.  I think the problem was that the maintainer squashed commits in the PR when merging, altering the sha1.

[2017-06-02 15:00] dgoodwin commented on #290
That'll do it!

Going to close as I don't think there's anything we can do here.

[2017-06-02 15:00] #290 closed

[2017-06-02 15:07] xsuchy commented on #290
@brianjmurrell if you want to build rpm for testing purposes from you branch, then run `tito build --rpm --test` and it will build packages without the need for tag.

[2017-06-07 12:43] xsuchy opened #291 "dependency on TERM variable"
Tito depends on existence of TERM variable. This is pitty as several CI teams use it in headless mode.

[code]

It is actually required by python3-blessings. But we should workaround it somehow so Tito can work even without this variable. Or we should it set in code to some default value when it is not defined.

[2017-06-07 12:53] dgoodwin commented on #291
Agreed we should handle this gracefully.

[2017-06-07 12:54] xsuchy commented on #291
https://github.com/erikrose/blessings/issues/39
But it is open for 4 years. :(

[2017-06-12 23:21] ashcrow opened #293 "Structured Log Output"
Wishlist: It would be nice to have log output in structures that could be parsed.

[2017-06-12 23:22] ashcrow opened #294 "Update CLI library"
Wishlist: Modernize CLI library using ArgumentParser, click, etc...

[2017-06-12 23:23] ashcrow opened #295 "Add Docker Builder and Releaser"
Wishlist: add a docker builder and releaser

[2017-06-12 23:24] ashcrow opened #296 "No Commit Required Releaser"
Wishlist: Add a releaser that doesn't require a commit.

[2017-06-13 04:06] jmrodri commented on #295
I'd like this as well. Talked with @dgood about getting together to discuss a plan. I saw you mention a hack day. That would be great too.

[2017-06-13 11:15] dgoodwin commented on #295
Yeah I was poking around this yesterday, I'd like to be able to tito build and tito release on projects that just had a Docker file in the project root. Back of my mind I'd also like to stop doing commits on tags.

This quickly got into issues like how do we know what this project (or sub project in the repo) name is, and what the current/last version was.

For project name I was thinking we could

[2017-06-13 11:19] dgoodwin commented on #296
Today when we commit on tags we are comitting:

- metadata file in .tito/packages/pkgname. This just contains the last tagged version for the branch, and the sub-directory to the package. (Note: we support repos with multiple packages in them, those packages can move around)
- Version or Release in spec file
- Changelog in spec file

If we start looking at Dockerfile builds the last two are of no

[2017-06-13 11:23] dgoodwin commented on #293
I was looking at structlog, we could have nice output like this for normal console use: https://structlog.readthedocs.io/en/stable/development.html. And then -o json to get json output for use in any kind of automation. However structlog 1.16 is required for that nice output, and 1.15 is all that's in Fedora right now. Even worse, EPEL6 and EPEL7 have ancient versions. (containers have ruined me f

[2017-06-13 13:30] ashcrow commented on #293
I agree with this. If someone is parsing output they can pin to an older version of tito until they are ready to use structured output.

[2017-06-13 13:33] ashcrow commented on #295
Another idea would be to require the Dockerfile include labels similar to those being used on Fedora. tito could read/update those labels as it does it's thing.

[2017-06-13 14:10] stevekuznetsov commented on #293
Only downsides are going to be internal parsing -- when I was adding `tito build --quiet` I noticed there are some places where we parse `rpmbuild` output, etc, so this will not be a clean cut-over. If we're going structured, I like `structlog` but we could also use the `journald` client library.

[2017-06-14 21:41] xsuchy commented on #294
Hmm e.g. argparse cannot be used as long as we want to support EL6. Personally I am ok with dropping EL6 support, but I am not sure about other users.
BTW with EOL of EL5 we can likely remove the enforcemen of  MD5 hashes during rpm build.

[2017-06-14 21:55] dgoodwin commented on #294
Good points. I'd be ok with dropping el6 as well, just leaving what's there.

[2017-06-14 22:44] stevekuznetsov commented on #294
Enjoying `click` and it's API in the project we have it in FWIW.

[2017-06-15 11:16] dgoodwin commented on #294
Really like click as well, however IIRC they have some opinions on positional arguments and what parent or sub-command they relate to that might complicate keeping the tito CLI exactly as it is today. If that could be worked around, or we could agree it's safe to alter the CLI slightly then it would be a good option.

[2017-06-15 13:23] ashcrow commented on #294
I'm a fan of click as well. I would think it's safe to alter the CLI if the version is bumped appropriately.

[2017-06-26 17:59] brianjmurrell opened #297 "how does tito determine the name of a package?"
I have a _subdir-per-package_ style tito repo of mostly Python packages.  Looking in `.tito/packages/` for the git repo, I see that while all of the packages are using a _python-_ prefixed name, I have one that is not.  It is using the bare PyPi module name.

So the question becomes how did this happen?  How does tito determine the name for a package?

And then, how can I correct this?  Can I simp

[2017-06-26 19:29] xsuchy commented on #297
The answer is... it depends. See the code:
  https://github.com/dgoodwin/tito/blob/master/src/tito/common.py#L780
Usually it just query the spec file. If you rename the package I just recommend to tag it again it will work.

[2017-06-26 19:53] dgoodwin commented on #297
Additional note, this is one of the first things I want to chance in effort
to support non-rpm builds. Hopefully that will soon rely on some other
options, explicit config, directory name, etc.

On Jun 26, 2017 4:29 PM, "Miroslav Suchý" <notifications@github.com> wrote:

[2017-06-27 16:52] brianjmurrell commented on #290
So, looking further into this, even when you don't squash when you merge on GH, the alternate strategy is to rebase and merge but that still changes the SHA, contrary to how traditional git does rebases:

https://help.github.com/articles/about-pull-request-merges/

So the original premise of this ticket still stands I would say.  It's just not possible to create a PR for a tito commit and successf

[2017-06-27 19:44] dgoodwin commented on #290
You would need to just merge, no rebase.

On Jun 27, 2017 1:52 PM, "Brian J. Murrell" <notifications@github.com>
wrote:

[2017-06-27 20:01] brianjmurrell commented on #290
Indeed.  But per the URL I included I don't believe GH has any option to do that in the UI.

[2017-06-27 23:37] dgoodwin commented on #290
Open PR, wait for merge, git push --tags should work provided you do not
use rebase locally at any point after creating your tag. I'd need to test
though but in any case, this is not workflow I would recommend.

On Jun 27, 2017 5:02 PM, "Brian J. Murrell" <notifications@github.com>
wrote:

[2017-06-28 03:18] brianjmurrell commented on #290
I can't see how that would be any more successful than pushing the tito tag to your PR and it getting lost when being landed with a rebase and merge.

Even if i wait for the PR to land before pushing the tag, it will have either landed with a squash or a rebase and so the sha1 of the landed commit will still be different than the sha1 in my local tree, where the tag is that I am trying to push.  U

[2017-06-28 10:01] dgoodwin commented on #290
If you put up a PR and someone presses merge, there is no automatic squash,
rebase, or change of Sha1, your commit goes in with the hash it had before,
after which you could push your tag.

In any case no matter what, this is all a recipie for trouble and again,
not something I would recommend. Tag and push to the repo directly.

On Jun 28, 2017 12:18 AM, "Brian J. Murrell" <notifications@github.c

[2017-07-06 17:21] jumanjiman commented on #295
I'm not sure that Dockerfile == rpm.spec file makes sense as a data model for tito.

If tito uses docker-compose as its underlying engine, then tito can focus on parsing the docker-compose.yaml file to bump VERSION args and so forth. docker-compose has grown to support many build patterns and dockerfile features, such as build args, project name vs dir name, and so forth.

If, on the other hand, t

[2017-07-06 17:53] dgoodwin commented on #295
Interesting, I always viewed Docker compose as more of a tool for deploying applications, rather than building artifacts. I can see the line is getting blurry since I last looked at the project. It would be hard for us to make sense of this in Red Hat as we don't use docker compose, but we do a lot of building Dockerfiles.

I see tito as a tool for artifacts, so getting from Dockerfile + source to

[2017-09-08 17:48] treydock opened #301 "tito.builder.Builder using wrong source tar.gz filename"
I setup a releasers.conf like below so that I could build SRPMs without having to run through using MockBuilder and building RPMs.  This was entirely to speed up build processes.  When I switched the releaser section to use Builder instead of MockBuilder, I get errors because the tar.gz in SOURCES is the wrong name.

The source file in spec is websockify-%{version}.tar.gz but the Builder seems to

[2017-11-01 15:09] Conan-Kudo opened #305 "Support for full timestamps for RPM changelogs"
Currently, tito only supports the regular changelog date format (like `Wed Nov  1 2017`). However, since RPM 4.14, the full date structure is now supported (like `Wed Nov  1 11:08:13 EDT 2017`) for changelog entries.

Can a setting be added to support this for changelogs?

[2017-11-01 19:10] xsuchy commented on #305
RPM 4.14 means F27+. The changelog generated by Tito should be readable by RHEL6 as well. So definitely not as default. I can imagine that this can be driven by some config option.

[2017-11-01 20:52] Conan-Kudo commented on #305
@xsuchy Yes, that's why I asked for a setting. :)

[2017-11-27 15:57] Conan-Kudo opened #306 "Support for defining a subdirectory path where the spec file will be in tito props"
Many projects prefer that spec files not be in the top level of the source tree. Rather, they'd be in a subdirectory like `dist`, `packaging`, `contrib/rpm`, or something else like that.

For this case, can we have a tito property for defining what the subdirectory would be to look for the spec file? This should ensure that things will work properly for multi-project monorepos, too, since projects

[2017-11-28 13:37] xsuchy commented on #306
See      https://github.com/dgoodwin/tito/pull/179

[2017-12-07 13:48] TomasTomecek opened #308 "Why there wasn't a release for 10 months?"
I would love to use the feature contributed by @vrutkovs where I can specify the tag format. Unfortunately I can't, since there wasn't a release for such a long time. Please, make one, give us a Christmas present.

[2017-12-07 14:23] dgoodwin commented on #308
https://copr.fedorainfracloud.org/coprs/dgoodwin/tito/

https://bodhi.fedoraproject.org/users/dgoodwin

[2017-12-07 14:23] #308 closed

[2017-12-08 13:56] TomasTomecek commented on #308
Thank you, that was quick!

[2017-12-18 17:07] dhilst opened #310 "How to deal with --test and %version?"
Hi,

I have this path in my spec `%define %SRC %_builddir/%{name}-%{version}`. And afterwards

[code]

The problem is that if I run mock with `--test` the source is not unpacked following `%name-%version` scheme, so the above `%build` fails. It is easy to reproduce the error, by building this repository https://github.com/dhilst/hellopy with `--test` suite.

What is the right way to deal with this

[2017-12-18 18:30] dhilst commented on #310
I got it, the %build executes from the exploded source code. There is no need for using absolute paths.

So replacing `%SRC/setup.py` by `setup.py` just works and I can `--test`'s now :)

Regards,

[2017-12-18 18:32] #310 closed

[2017-12-21 19:56] dhilst opened #311 "How to use %include %{SOURCEX}?"
Hi,

I've used to add some files with handy macros in my specs as:

[code]

Now I'm trying to use tito, but the problem is that it tries to parse the specfile prior the mock chroot creation (I'm using mock builder by the way). So when I run tito I get this error:

![image](https://user-images.githubusercontent.com/392820/34272612-06d3ced2-e678-11e7-8b53-5aa1f9305b5d.png)

What is the right way to

[2017-12-22 13:33] dgoodwin commented on #311
I fear this may require some kind of a fix in tito, I don't think this will work today, at least not for a package you're building from source git repo. I'm pretty sure it will work with things like the NoTgzBuilder, but I don't know as I've seen it done here.

https://stackoverflow.com/questions/31411205/rpm-include-a-set-of-constants has an interesting response.

Feels like the rpm sourcedir is

[2017-12-22 14:48] dhilst commented on #311
Thanks for the feed back. I took a look at the SO answer, and already saw that _RPM argh_ article. We have a chicken/egg problem here. Tito tries to parse the spec but spec parsing depends on another file being in BUILDDIR, which is what tito will do afterwards.

I just got curious and take a look at `rpm` source, when it finds the `%include` directive it tries to parse the included file immediate

[2018-01-02 12:49] dgoodwin commented on #311
Or perhaps allow explicitly setting the package name in tito.props (or the per-package tito.props in a multi-project repo), if set we skip spec parsing for the name. I wonder if there's anywhere else we spec parse early though.

[2018-01-02 15:28] dhilst commented on #311
I've added a `--project-name` as proof of concept. This by pass the early parsing error, but failed afterwards inside mock, rpmbuild claims that it couldn't find the included file, and it is right since the sources wasn't exploded yet.

The error:
[code]

The mock contents:
[code]

[2018-01-02 16:45] ekohl opened #312 "Regression with releases in tags"
Since 0.6.11 I'm having issues where it creates an incorrect tag. When I tried to tag a package, it created the correct changelog but with an incorrect git tag. https://github.com/theforeman/foreman-packaging/commit/607c00b280cee68f764c8a8055707b8d5928bbee is the commit in question. That created ```rubygem-radcli-1.0.0.fm1_17-1``` but then ```tito release koji-foreman-plugins``` complained it coul

[2018-01-02 17:35] dgoodwin commented on #312
Hmm, could it have been this somehow? https://github.com/dgoodwin/tito/pull/287/files

[2018-01-02 17:37] ekohl commented on #312
That's also possible. I'm not familiar with the tito code base or even that well known in the tito workflows. For now I downgraded to the previous version so I could continue working but I'm happy to test changes.

[2018-01-02 17:37] dgoodwin commented on #312
Or even more likely, https://github.com/dgoodwin/tito/pull/287/files and https://github.com/dgoodwin/tito/pull/278.

[2018-01-02 17:47] ekohl commented on #312
I'm working in the rpm/develop branch.

[2018-01-02 17:51] dgoodwin commented on #312
Alright using your second example the tag format still looks to match what it was before, which is good.

[code]

So it would appear it's the releaser that is confused.

[2018-01-02 17:53] dhilst commented on #311
Okay!! I got something!

I update the base builder to search for `SOURCE<X>` directives inside spec file and copy them to the source rpm. This fix the `No such file or directory`. There are two main additions here

- `--project-name`. To avoid the early parsing of the spec file.
- `Builder._copy_extra_sources` method. Which add extra sources to the srpm file.

The other commits are little fixes th

[2018-01-02 17:54] dgoodwin commented on #312
Also tito tag --keep-version looks off.

[2018-01-02 17:57] dgoodwin commented on #312
Steps to reproduce:

  1. git clone git@github.com:theforeman/foreman-packaging.git
  1. git checkout rpm/develop
  1. cd foreman-packaging/nodejs-redux-form-validators
  1. tito tag --keep-version --accept-auto-changelog

I don't immediately know how to reproduce the "release" bug mentioned as it's leading down a git annex rathole.

[2018-01-02 18:54] dgoodwin commented on #312
@vrutkovs  any chance you have time to look into this? I've been digging this afternoon but it's looking larger than I have time for right now.

Alternatively we can revert the feature for time being and I'll spin a new release until we can get it sorted out.

So far it looks like the use of a tag_suffix is now broken in that tag now flips to suffix-release, whereas previously it was release-suffi

[2018-01-02 19:13] dhilst commented on #311
I opened a PR, I take care of running the testing on the fork prior opening the PR. There would be easier for you to commend review and comment the changes! :)

Regards,

[2018-01-02 19:26] dgoodwin commented on #312
I lied, getting closer to a fix in ^^

[2018-01-09 20:24] aecolley opened #316 "build without quiet tries to run cp with a glob, with no plan to expand the glob"
Since tito-0.6.11-1.el7.centos.noarch appeared on CentOS 7, "tito build" runs have been failing. A stacktrace is below. The problem is that `_build_in_mock` calls either `run_command_print` or `run_command` depending on the `quiet` flag, but those functions treat their arguments differently.

`run_command` feeds the command to a shell (`commands.getstatusoutput`), which expands glob patterns. Howe

[2018-01-09 20:31] aecolley commented on #316
Caused by #316

[2018-01-17 11:36] ekohl commented on #312
Anything I can do to help this forward?

[2018-01-17 12:32] dgoodwin commented on #312
If fixing it is out of the question probably not, I was getting close but I am time strapped and honestly not even a tito user anymore. If anyone has time to help fix please let me know. No more releases until it's fixed at the very least, I hope to find time somewhere for that.

[2018-01-17 12:35] ekohl commented on #312
I could take a stab at it, but I don't know where your WIP PR left off and what's left to do.

[2018-01-17 12:42] dgoodwin commented on #312
Looking back, it *might* be fixed in that PR. The parts about cleaning up whether or not configuring package name is supported can be handled as a follow up. I think I stopped in lieu or more manual testing, and more unit tests (if we can come up with any). If you have time to review any code in that PR, try it out, and cite if you can think of any more unit tests and/or add them, maybe we can rol

[2018-01-17 12:49] dgoodwin commented on #312
To test code with tito you can checkout the correct git branch and use bin/tito-dev, which should run tito with the code in that branch.

Also you can tito build --rpm --test -i and install tito with tito, provided you don't break something, in which case you just have to re-install tito with dnf.

[2018-03-08 15:51] mtinberg commented on #316
I haven't had the time to research back and repro the problem I was having but this seems exactly like what I guessed was happening.  Either approach would likely fix the problem, consistently using a subshell which can expand globs, or avoid relying on shell globbing and external commands for operations which can be done in python directly.

[2018-05-02 12:49] ashearer23 opened #321 "Error when running 'tito init'"
I am running the install on a CentOS 7.4 virtual machine. I copied the codebase over from a git clone of the project. I run the commands to install it from source and when I go to run a 'tito init' I get the following error:

[root@cent74 tito]# tito init
Traceback (most recent call last):
  File "/usr/bin/tito", line 5, in <module>
    pkg_resources.run_script('tito==0.6.11', 'tito')
  File "/usr

[2018-05-02 13:08] dgoodwin commented on #321
If installing from source you are bypassing the rpm requirements which should be covered by the spec file. I would consult tito.spec for the dependencies you need to install if you're going to run from source, in this case python2-blessings or python3-blessings, you're probably going to discover other missing packages as well.

Tito is available in EPEL for CentOS 7 for what it's worth which shoul

[2018-05-02 13:09] dgoodwin commented on #321
Closing for now as I don't think there's any issue to be fixed here, but we can reopen if necessary.

[2018-06-02 02:36] jmrodri commented on #321
@dgoodwin mentioned closing back in May, so I'll do it since it wasn't done.

[2018-06-02 02:36] #321 closed

[2018-06-02 02:56] jmrodri opened #322 "Allow tito to perform a github release"
We've been doing Github releases by hand which I find weird having used tito for all of my other projects. We do a semver tag ie. 1.2.0, then a changelog to put into the release, it seems like it would fit into tito.

[2018-06-02 02:57] jmrodri commented on #322
@dgoodwin what do you think?

[2018-06-02 13:54] FrostyX commented on #322
@jmrodri, I like this idea too, because it is exactly what I do for my project. Release (from Makefile, so it prints me a link for github page with the tag) and copy-paste changelog there.

I think, that it should be possible to code it.

What do you think @dgoodwin? I would offer myself to implement it, as I have a personal interest in it.

[2018-06-04 07:31] xsuchy commented on #322
I would love to have this as well. I am doing Mock github release by hand too.

[2018-06-04 11:17] dgoodwin commented on #322
Sounds good to me.

[2018-06-04 11:20] FrostyX commented on #322
@dgoodwin cool, you can assign me to it then.

[2018-06-04 11:31] dgoodwin commented on #322
I think I need to add you as collaborator to be able too, request sent.

[2018-06-21 03:54] rohanpm opened #323 "Can't use MockBuilder as default builder"
In a project with .tito/tito.props:

[code]

Attempting a "tito build --rpm" crashes with the following:

[code]

## Actual behavior

Attempting a build with MockBuilder configured as the default builder crashes with a stack overflow.

## Expected behavior

Configuring MockBuilder as the default builder either works correctly (can build SRPM and RPM), or if unsupported, gives a meaningful error me

[2018-06-29 15:32] ktdreyer commented on #252
@hluk showed me a great way to do this using tito's `[version_template]`.

[code]

[2018-07-24 12:56] dgoodwin commented on #312
All I can do is merge it, build it, and hope for the best, anyone object?

[2018-07-24 15:57] markllama commented on #312
dgoodwin; giive me a bit more time. Bleh.  I spoke too soon.

[2018-12-01 19:17] dhilst commented on #311
I'm closing there is a PR open for it

[2018-12-01 19:17] #311 closed

[2018-12-06 13:31] nqb commented on #312
Hello everybody,

I got same issue with `tito` 0.6.11 installed from EPEL with https://gitlab.com/nqb1/hello-doc/.

I installed `tito` from sources and all is working as expected.

[2019-01-18 20:40] xsuchy opened #331 "remove --define "_source_filedigest_algorithm md5"
AFAIK the `--define "_source_filedigest_algorithm md5` has been used in code because EL5 understand only md5 checksum. As EL5 has been EOLed for more than a year. I guess this can be safely removed now.

Note that is used on several places in main.py

[2019-02-04 15:54] alexandrevicenzi opened #332 "Add option to set build number for --test"
When using --test option the package name will be something like:

    <package name>-<package version>.git.<commit count>.<last commit hash>.el7eng.noarch.rpm

    foobar-0.0.1-1.git.0.5a86da9.el7eng.noarch.rpm

The problem is that sometimes the commit count is the same when building multiple patches. The count is usually 0 (zero) and the hash is not a number, in this case the new version string

[2019-03-28 13:23] sosiouxme opened #335 "tarball header mods choke on non-ascii file names"
I ran tito on a project that introduced a file with the name `utf8_tést_app.rb`. When tito went to edit the source tarball, it choked on this filename being in the headers:

[code]

In python2 there's an implicit `decode("ascii")` which is what it's complaining about, this being equivalent to
[code]

If I assume that the text is `utf8` (which includes ascii) and explicitly `decode("utf8")` then th

[2019-03-28 13:25] sosiouxme commented on #335
@awood @xsuchy

[2019-04-10 18:51] #335 closed

[2019-04-26 19:04] jmrodri opened #337 "Tito build of tito fails in master"
[code]

[2019-04-26 19:07] jmrodri commented on #337
Reverting to commit 77d54e657963cbcd7389df2f14a8ece9b954edaa resolves the problem. Seems that this commit has introduced the issue: https://github.com/dgoodwin/tito/commit/03509b36d5cf151955ed8739266b4799782147ac

[code]

[2019-08-30 00:21] irvintim opened #338 "Tito init fails when space exists within path to CWD"
If there is a space in the CWD, i.e.:

[code]

Then `tito init` fails with the error:
[code]

In reviewing the resulting filesystem the following empty directory was created in the CWD:
`Schmo/IdeaProjects/mynewproject/.tito/`,
i.e.
`/mnt/c/Users/Joe Schmo/IdeaProjects/mynewproject/Schmo/IdeaProjects/mynewproject/.tito/`

[code]

[2019-09-04 12:10] adamladd17 opened #339 "Tito fails to get a commit count when there is more than one root commit"
get_commit_count in common always returns 0 if there is more than one root commit (this scenario pops up when you merge two old repositories into one new one).

I was able to fix this by adding output= output.split("\n")[-1] under line 919 in method get_commit_count of common.py

This just takes the initial root commit in case there are multiple.

[2019-09-16 07:39] xsuchy opened #341 "tito build --test --rpm -i tracebacks on Fedora 31"
On Fedora 31 I got this:
[code]

[2019-09-16 09:20] xsuchy commented on #341
It is caused by
  https://rpm.org/wiki/Releases/4.15.0
Fix Python 3 to return string data as surrogate-escaped utf-8 strings instead of bytes which nothing else in the API accepts

[2019-09-23 22:44] thomasmckay opened #342 "noarch tar.gz expected to have .fc29.x86_64 files in it"
tito-0.6.11-7.fc29.noarch

Log output and spec file below. I don't understand why the build is looking for 'fc29.x86_64' inside of the noarch tar file. The srpm build is 'tito build --test --srpm .'

[code]

[code]

[2019-09-24 01:17] #342 closed

[2019-10-02 14:35] #341 closed

[2019-10-03 06:55] xsuchy commented on #337
This is cause by presence of
[code]
if you try to unpack tarball created by tito, it will contain errors. Plain `git archive` creates the correct tarball. I suspect that there is an error in that tarball mangling which tries to preserve the same checksum.

[2019-10-03 07:43] xsuchy commented on #281
This seems to be resolved for some time. You do not need to rsync packages anymore. You can put in releasers.conf
[code]
and run `tito release mycopr` and it will upload src.rpm directly to Copr.

@dgoodwin you can close this.

[2019-10-03 11:07] #281 closed

[2019-10-03 11:07] #337 closed

[2019-10-04 16:17] Ultimation opened #346 "Unable to tito tag on first release of package if there is a %changelog in spec file"
Removing %changelog let me tag, and then I could re-add the section to tag again, but I could not do my initial tag.

Didn't work with release or version tagger

[code]

[2019-10-04 19:04] jmrodri commented on #346
@Ultimation what did your `%changelog` look like when this error happened?

[2019-10-09 12:41] Ultimation commented on #346
It had just %changelog and a single new line after it.

Using the tar.gz from here in the same dir, https://github.com/intel/libipt/releases/tag/v2.0.1

[code]

[2019-11-27 13:49] ernestask commented on #316
#318 was merged, this seems to work now.

[2019-11-27 13:51] ernestask opened #347 "Release new version"
As had been done in https://github.com/dgoodwin/tito/issues/308, I’m asking for a new release, since it’s been almost two years and the code accumulated fixes for important issues (https://github.com/dgoodwin/tito/issues/316).

On a related note, should there be an organization with more than one person governing the development? While the software is still useful, it would be a shame to let every

[2019-11-27 13:56] FrostyX commented on #347
@dgoodwin, we have discussed this with @xsuchy this week. If you want, I can do (this) release.

[2019-11-27 14:48] dgoodwin commented on #347
This would be great, thank you @FrostyX, do I need to do anything to enable permissions or can you do this just by virtue of being a Fedora packager.

I've tried in the past to find additional maintainers in the company but have struggled to get anything to stick. I am unfortunately away from tito and not even using it for my work for several years now. :(

[2019-11-27 14:49] #316 closed

[2019-11-27 20:52] FrostyX commented on #347
I seem to have permissions for this git repo, so that should be fine. AFAIK you need to add me only here -  https://src.fedoraproject.org/rpms/tito . Please go to the "Settings" and then "Users & Groups"

[2019-11-28 12:26] dgoodwin commented on #347
What is your Fedora username @FrostyX

[2019-11-28 16:14] FrostyX commented on #347
frostyx :smile:

[2019-11-28 16:26] dgoodwin commented on #347
now an admin, thx!

[2019-12-01 23:53] FrostyX commented on #347
I've created PR#348 to fix the spec file for EPEL8. Do you want to merge anything else before doing the release? I've tried

    python3 ./runtests.py
    hacking/runtests.sh

and got no error. I will do some manual testing tomorrow and tag the packages. They build successfully in Copr - https://copr.fedorainfracloud.org/coprs/frostyx/tito/build/1121708/ (that's the one with patched spec).

[2019-12-02 12:00] dgoodwin commented on #347
Nothing on my end, sounds great, thank you.

[2020-01-08 22:50] FrostyX commented on #347
New version `tito-0.6.12` was released and is now in stable Fedora repos.
Release notes: https://github.com/dgoodwin/tito/releases/tag/tito-0.6.12-1

I am closing the issue.

[2020-01-08 22:50] #347 closed

[2020-03-21 13:53] ernestask commented on #291
Both blessings and blessed should have this fixed by now. python-blessed just needs to be updated in Fedora: https://bugzilla.redhat.com/show_bug.cgi?id=1792568

[2020-03-25 16:00] FrostyX commented on #215
Related to #187

[2020-03-25 17:21] FrostyX opened #355 "Active tito developers, please raise your hands"
Hello guys,

if you have notifications for this project, you may have noticed increased activity in the last couple of weeks. At this point, I have resolved almost all pull requests that were hanging here for a very long time and soon I will go bug-hunting.

https://github.com/dgoodwin/tito/milestone/1

In this issue, I would like to see who is or wishes to be an active tito contributor. Apparentl

[2020-03-25 17:21] FrostyX commented on #355
- @dgoodwin
- @xsuchy
- @awood
- @jumanjiman
- @stevekuznetsov
- @jmrodri
- @FrostyX
- @msehnout
- @KenMacD
- @jbowes
- @evgeni
- @Conan-Kudo
- @ashcrow
- @maxamillion
- @tjanez
- @palli
- @ignatenkobrain
- @ehelms
- @vfreex
- @sosiouxme
- @mstead
- @mccun934
- @lubomir
- @jeckersb
- @iNecas
- @AdamWill
- @vrutkovs
- @venth
- @mirekdlugosz
- @lzap
- @brenton
- @bcl
- @vbatts
- @twiest
- @treydock

[2020-03-25 17:21] FrostyX commented on #355
- @enaut
- @domcleal
- @dLobatog
- @csonto
- @cnsnyder
- @cgwalters
- @bby-bishopclark
- @aronparsons
- @adammhaile
- @adamladd17
- @RobberPhex
- @Allda

[2020-03-25 17:29] enaut commented on #355
Thank you for the ping. I'm currently hardly using tito :( so I will not really be part of a persistent team. As long as you are using git and the code is open source there is not really a big problem with the benevolent dictator model - I think. However I absolutely do understand your request for peer reviews.

[2020-03-25 17:29] ernestask commented on #355
I don’t want to commit to anything (due to time constraints), but I can keep an eye on PRs and provide the occasional remark.

[2020-03-25 17:36] kahowell commented on #355
@FrostyX thanks for the leadership in this area!

The Candlepin team (https://github.com/candlepin) still actively uses tito, so we'd like to give back by contributing a limited amount of time for reviews. If you tag myself, @cnsnyder, @wottop, @barnabycourt in PRs, we'd be happy to give some time for reviews to keep tito going; note: there are others on our team we may get involved, but having us

[2020-03-25 17:46] FrostyX commented on #355
@ernestask @kahowell, I believe there should be some "watch" button that allows you to subscribe to a notification about new pull requests in a project. Would you consider that? After the initial bugfixing milestone that I linked above, there shouldn't be that much traffic in the project, that would bother you.

[2020-03-25 17:48] ernestask commented on #355
Yup, I did that already (/me grumbles about the lack of fine-grained controls on GitHub).

[2020-03-25 17:48] Conan-Kudo commented on #355
I'm actively using it with DNF and Spacewalk/Uyuni...

[2020-03-25 17:50] Conan-Kudo commented on #355
@FrostyX Have you considered moving it out of dgoodwin namespace and into its own `tito` namespace?

[2020-03-25 17:53] dgoodwin commented on #355
FWIW I am ok  with this and my apologies for having to step away from the project, I haven't been a tito user for 5 years and it started to show in the quality of maintenance.

I am happy to relinquish the repo and help redirect people.

[2020-03-25 17:58] FrostyX commented on #355
Since there are no side-projects and at this point, we would have just tito/tito and nothing else in that namespace, I think it's not worth it. But if we vote or something and you would prefer this option, I am not against it.

[2020-03-25 18:12] ernestask commented on #355
/me votes for tito/tito to make it more “official”.

[2020-03-25 18:27] jmrodri commented on #355
@jmrodri here! I'd like to remain present. I still use tito not as much as I used to.

[2020-03-25 18:27] jmrodri commented on #355
Also, I agree tito/tito would be nice

[2020-03-25 18:28] jflorian commented on #355
I use tito nearly daily so tend to hang here mostly to be aware, but occasionally to submit bug rpts &| patches.

[2020-03-25 18:30] jflorian commented on #355
error: cannot parse

[2020-03-25 18:42] ernestask commented on #355
Good, it was to thwart any possible bot attacks.

[2020-03-25 19:40] mtinberg commented on #355
Thanks @dgoodwin for all the hard work over the years and @FrostyX for wanting to take ownership.  Moving to tito/tito namespace makes sense to me, and I use tito for ~150 internal packages within my organization, it does all the heavy lifting of our Gitlab CI.  I'd be happy to submit patches if I ever have another issue with our CI process, it's been working well for us for a while.

[2020-03-25 20:07] FrostyX commented on #355
Thank you guys for your responses!

Honestly, I didn't expect such positive feedback at all. I thought that there will be radio silence for two weeks and then that I would quietly close the issue like nothing happened. It is the exact opposite. Thanks!

I am also very happy that many of you use tito at such scale.

I've been thinking, there are many people interested in at least being up-to-date w

[2020-03-25 20:34] bcl commented on #355
I'm still using tito with lorax, I can try to look at PRs as time allows.

[2020-03-25 20:36] bby-bishopclark commented on #355
@mtinberg

If it's not there already, a quick doc to show how this is all set up would be neat.  There are a dozen half-finished docs out there, but it'd be nice to have one in the project.  My own CI->tito setup has been back-burnered for many #reasons

@FrostyX

I'd loiter harder on a slack channel, but that's because I have that client installed and ignored.  I don't even have an IRC app.  Mayb

[2020-03-25 21:29] mtinberg commented on #355
This isn't particularly exciting but here it is

[code]
With tito installed on the host running gitlab-runner and ssh key auth setup for rsync using a restricted shell (rssh) to the web server where the yum repo is hosted.  On the gitlab runner we have a post-job command that calls spacewalk over the API and refreshes its repos `spacewalk.channel.software.syncRepo(key, channel.get("label"))`.

So

[2020-03-26 01:55] FrostyX commented on #355
Just FYI tito namespace is taken by some user, we would have to take something less pretty.

[2020-03-26 01:57] Conan-Kudo commented on #355
@FrostyX `tito-tool/tito`?

[2020-03-26 02:10] jumanjiman commented on #355
i use it a _little_ still, but not actively in my current role

[2020-03-26 02:12] jumanjiman commented on #355
i just squatted on `rpmkit` and `rpm-kit` as organization names.

if the group decides they want to move tito to one of these namespaces, i'll transfer ownership to the group.

[2020-03-26 06:46] ernestask commented on #355
What about rpm-software-management, where mock, dnf et al live?

[2020-03-26 06:47] ernestask commented on #355
I would idle there.

[2020-03-26 07:50] tlestach commented on #355
tito has been used by [Spacewalk](https://github.com/spacewalkproject/spacewalk) developers and Satellite 5 Engineering for years, but since Red Hat Satellite 5 End Of Life is on [May 31, 2020](https://access.redhat.com/support/policy/updates/satellite) and with this move Spacewalk will be discontinued as well, this user base will be lost. Thanks for the tool, it's been a tremendous help that made

[2020-03-26 08:21] xsuchy commented on #355
I am trying to watch issues. I barely have time to review PR's. If you want I can create a project under https://github.com/rpm-software-management/ organization. Thou, it may be a little misleading as nowadays you can release other artifacts than rpm itself with Tito.

[2020-03-26 08:32] FrostyX commented on #355
Although I see some of the slack advantages, AFAIK the whole Fedora uses IRC. So personally I would rather stick with that until someone decides about global migration.

[2020-03-26 08:39] glensc opened #357 "Release tarball not uploaded: 0.6.12"
_After https://github.com/dgoodwin/tito/issues/355 announcement I was puzzled, what is Tito, so as first action I started to package it for [PLD Linux](https://www.pld-linux.org/) and I have noticed the fedora .spec refers to tarball that is not uploaded_

The tarball specified in Fedora .spec is missing from release page:

[code]

- https://src.fedoraproject.org/rpms/tito/blob/7e361d2f44e73e110d9

[2020-03-26 08:46] FrostyX commented on #357
Hello @glensc,
In master we already have

    # Sources can be obtained by
    # git clone https://github.com/dgoodwin/tito.git
    # cd tito
    # tito build --tgz
    Source0: %{name}-%{version}.tar.gz

I am going to tag 0.6.13 very soon, so we will have it released.

[2020-03-26 08:47] vfreex commented on #355
+1 for moving this project to rpm-software-management org. Although tito can release more than RPMs, I think it is more rpm centric and it's nice to be under the umbrella of rpm-software-management.

OpenShift is also using tito to manage a lot of RPM packages. I would also like to help improve this project in my spare time.

[2020-03-26 08:50] glensc commented on #357
@FrostyX, will you upload the `.tar.gz` to release then? so the rpm package can be made **without** Tito (bootstrap build).

PS, Initial PLD Linux package I've created:
- https://github.com/pld-linux/tito

[2020-03-26 08:52] FrostyX commented on #357
I guess this is the same thing that @praiskup was also asking for?

[2020-03-26 08:56] FrostyX commented on #357
In my opinion, we should create a releaser for that. Then I would change the workflow and start uploading packages. What do you think?

[2020-03-26 09:14] glensc opened #358 "Make bugzilla dependency optional"
The bugzilla module seems an artifact of the Fedora ecosystem, not needed if I'm not building for RedHat/Fedora/EPEL...

[code]

[2020-03-26 09:21] glensc commented on #357
Downstream distro packagers expect upstream to provide tarball of their software.

If the package can be produced from git export that GitHub provides for each git tag, the manual tarball upload is not necessary.

[2020-03-26 09:31] praiskup commented on #357
Are you 100% sure that the snapshot tarball will be the byte-by-byte the same after 3 years,
15, 50 years?

[2020-03-26 09:38] praiskup commented on #357
Of course I didn't read the whole story here before;  it is project decision
whether they rely on GitHub snapshots.

First, tito does some manual tweaks in released tarball, and anyways, for
pedantic people - tito should allow people to upload the real released tarball
that will stay consistent forever (even if git, tar, or compression changed, or
if GitHub disappeared).

[2020-03-26 10:23] FrostyX commented on #357
@glensc, so I checked how other projects managed by tito do it (e.g. [mock]()) and they upload the tarball, so I am going to do that also. I've already uploaded the 0.6.12. Please see
https://github.com/dgoodwin/tito/releases/tag/tito-0.6.12-1

[2020-03-26 10:26] FrostyX commented on #357
AFAIK we don't have any tito releaser for that yet, so I am going to file an RFE and hopefully, we can automatize that step in the future.

[2020-03-26 10:28] FrostyX opened #359 "Releaser for uploading tarball to GitHub"
See #357

We want to have a releaser for uploading a tarball to GitHub release, not doing it manually.

[2020-03-26 11:18] xsuchy commented on #355
@FrostyX I set up https://github.com/rpm-software-management/tito I made you admin there. Feel free to populate it and add other people there.

[2020-03-26 11:29] Conan-Kudo commented on #355
@xsuchy @FrostyX It'd be better to transfer _this_ repository to `rpm-software-management` so that the issues and the fork network come along for the ride.

[2020-03-26 11:54] dgoodwin commented on #355
Is this what we want? https://help.github.com/en/github/administering-a-repository/transferring-a-repository I have the transfer setting available.

If so it looks like we need the tito repo deleted in the new org so it can work. @FrostyX @xsuchy let me know if and when you'd like me to initiate the transfer.

[2020-03-26 12:04] FrostyX commented on #355
@dgoodwin we are waiting for a confirmation from rpm-software-management guys and then let you know.

[2020-03-26 17:31] FrostyX commented on #357
I have created a document describing how to properly release the tito package, so nobody will have an excuse to forget on uploading the tarball. Please see PR#361.

I think we can close this issue now?

[2020-03-27 08:43] dmach commented on #355
@dgoodwin I deleted the empty tito repo in rpm-software-management org.
You can transfer the repo now. If you bump into any issues, let me know.

[2020-03-27 09:50] #357 closed

[2020-03-27 11:31] dgoodwin commented on #355
"You don’t have the permission to create public repositories on rpm-software-management"

Could you temporarily grant me permissions over there?

[2020-03-30 11:38] dgoodwin commented on #355
Repo transferred!

[2020-03-30 13:00] FrostyX commented on #355
Great, thank you @dgoodwin and @dmach

[2020-03-30 13:41] FrostyX commented on #355
@dmach will you create also https://copr.fedorainfracloud.org/coprs/g/rpm-software-management/tito/ for us, please?

[2020-04-03 11:09] FrostyX opened #363 "Installing a package with --install fails because of dependencies"
When trying to build and install a package via tito

    tito build --rpm --test --install

it often fails because of missing dependencies (because of running DNF with `--cache-only` option)

    Error: Some packages have invalid cache, but cannot be downloaded due to "--cacheonly" option

    ERROR: Error running command: sudo dnf install -C -y /tmp/tito/noarch/tracer-common-0.7.1-1.git.3.b5f1dab

[2020-04-03 11:29] StykMartin opened #364 "make prompt less aggressive"
Today I was working on release.
I accidentaly wrote `yy` instead of `y` and whole release was killed.
I guess it would be better to get user a chance to retry?

[code]

[2020-04-03 11:34] FrostyX commented on #364
Hello @StykMartin, thank you for the report.
I've added the issue to the next milestone, so it should get fixed soon.

[2020-04-06 00:39] FrostyX commented on #291
This shouldn't be blocked anymore as the `python3-blessed` update just arrived in Fedora stable repository.

[2020-04-07 22:13] FrostyX commented on #355
Hello guys,
I would like to thank you all for the positive feedback and discussion here. I am very happy, that many of you are still interested in Tito (as either developers or users). I would like to wrap up with the following points

- The Copr project for Tito https://copr.fedorainfracloud.org/coprs/g/rpm-software-management/tito/ was created. Whoever needs permissions for it, please request th

[2020-04-07 22:15] #355 closed

[2020-04-14 14:41] xsuchy opened #366 "handle changelog file in dist-git"
See:
https://docs.pagure.org/Fedora-Infra.rpmautospec/principle.html

This means that if `changelog` file exists in dist-git, we should probably not touch it (there is already whitelist of files, which should not be touched).

Or alternatively, we can somehow work with it. But until this proposal mature, this is probably too soon.

[2020-04-14 16:10] ehelms opened #367 "FetchBuilder broken with no tgz_dir"
This breaks the FetchBuilder as it makes the presumption that tgz_dir is defined for all builders inheriting BaseBuilder without defining a sane default:

[code]

[2020-04-14 16:38] FrostyX commented on #367
Thank you for the report @ehelms,
can you please give me some example of how to reproduce it?

[2020-04-14 17:09] jmrodri commented on #366
Is `tito` often used for managing rpms in dist-git that are also updated directly in dist-git? In my typical use case, if I'm using `tito` I have it be the source of truth for the changelog etc. `dist-git` is merely a delivery mechanism. But I guess there are times where packages in dist-git go through rebuilds before the `tito` user can do another build.

[2020-04-14 17:13] ehelms commented on #367
First, here is the command we use:

[code]

If you want to use our packaging, you can clone https://github.com/theforeman/foreman-packaging/tree/rpm/develop and run the command above from `packages/foreman/foreman`

[2020-04-16 14:28] ehelms commented on #367
Looks like introduction of copy_extra_sources has caused another breakage as well:

[code]

The specfile in question -- https://github.com/theforeman/foreman-packaging/blob/rpm/develop/packages/katello/nodejs-react-helmet/nodejs-react-helmet.spec

[2020-04-18 15:23] FrostyX commented on #331
I guess you meant both `_source_filedigest_algorithm` and `_binary_filedigest_algorithm`

[2020-04-18 15:50] FrostyX commented on #204
Hello @user501254,
thank you for the report. I was not able to reproduce the original issue and we use `CoprReleaser` frequently for years, so I would assume it was fixed in the meantime.

If it still happens to you, feel free to reopen.

[2020-04-18 15:50] #204 closed

[2020-04-18 16:10] FrostyX commented on #186
Hello @dLobatog,
It seems that the issue was already fixed. I am not able to reproduce it.

    $ rpm -q --qf "%{RELEASE}\n" --specfile enum.spec | head -1
    5.fc30

    $ tito tag --keep-version
    Creating output directory: /tmp/tito
    Tagging new version of subproject-enum: 1.3-4 -> 1.3-5
    Created tag: subproject-enum-1.3-5
    View: git show HEAD
    Undo: tito tag -u
    Push: git pus

[2020-04-18 16:10] #186 closed

[2020-04-18 16:13] FrostyX commented on #166
Hello @epienbroek,
thank you for the report. The issue was already fixed

    [jkadlcik@localhost subproject2]$ tito tag --undo
    Creating output directory: /tmp/tito
    Undoing tag: subproject-enum-1.3-5
    Checking for tag [subproject-enum-1.3-5] in git repo [git@github.com:FrostyX/project-for-testing-tito.git]
    ERROR: Cannot undo a tag when the current git state is not clean!

If it stil

[2020-04-18 16:13] #166 closed

[2020-04-18 16:35] FrostyX commented on #215
Hello @pavlix,
thank you for the report. This issue was already fixed.

    [jkadlcik@localhost project with space]$ tito init --help
    Usage: tito init [options]

    Options:
    -h, --help            show this help message and exit
    --debug               print debug messages
    --offline             do not attempt any remote communication (avoid using
			    this please)
    -o OUTPUTDIR,

[2020-04-18 16:35] #215 closed

[2020-04-18 16:38] FrostyX commented on #187
Related to #252

[2020-04-18 19:20] FrostyX commented on #305
@Conan-Kudo would you find more useful to have a configuration option to toggle between regular/full  (date/datetime) date or rather have a configuration option to define a custom date format string?

[2020-04-18 19:21] Conan-Kudo commented on #305
@FrostyX A toggle. RPM only supports two variations, so a toggle is sufficient.

[2020-04-20 07:58] #331 closed

[2020-04-20 07:59] #187 closed

[2020-04-20 07:59] #252 closed

[2020-04-20 08:11] FrostyX commented on #291
Actually, seems like we didn't need to wait for

    Bug 1792568 - python-blessed-1.17.4 is available

This issue is fixed since 3a79fdd, even with python-blessed-1.16.1

[2020-04-20 08:11] #291 closed

[2020-04-23 09:50] #338 closed

[2020-04-24 15:54] #305 closed

[2020-04-26 13:18] FrostyX commented on #243
I've submitted a PR #375 with the list of projects that @xsuchy and @jmrodri posted above.
If I see correctly, the questions were answered, so once the PR gets merged, I will close this issue.

Just to provide a bit more complete (or rather different) answer - Tito targets mainly on upstream developers that are distribution package managers at the same time. From the question, it seems like you ar

[2020-04-26 13:30] FrostyX commented on #279
Specific `tito.props` file for a package works as an override configuration over the global one. Tito even prints

    Loaded package specific tito.props overrides

The original question seems to be answered by @xsuchy, so I am closing the issue. Feel free to reopen.

[2020-04-26 13:30] #279 closed

[2020-04-26 20:27] FrostyX commented on #297
Since this is a question and the correct answer was IMHO already provided by @xsuchy, I am closing it now.

If there is any bug or missing feature regarding package names, feel free to submit a new issue @brianjmurrell.

[2020-04-26 20:27] #297 closed

[2020-04-27 12:45] praiskup opened #377 "Allow tagging pre-release versions with `~` tilde character"
RPM and Deb distributions for some time allow to use `~suffix` in software
pre-release versions (or distro releases).  The benefit is that tagged
`Version: 2~dev` is _obviously_ devel  only version, but at the same time
users can rely on the fact that `2~dev < 2`, in contrast to `2_dev > 2`.

So maintainers can first bump to `2~dev` and later "bump" to `2` only --
and still there's guaranteed upgr

[2020-05-04 08:54] #158 closed

[2020-05-04 08:55] #358 closed

[2020-05-04 08:55] #364 closed

[2020-05-04 08:56] #243 closed

[2020-05-04 08:58] #367 closed

[2020-05-13 23:18] ktdreyer commented on #252
We can template `__init__.py` as a workaround, but that ties the package more into tito's way of operating and makes it a little more complex for new contributors to get up to speed.

It would be great to *automatically* bump the version number (like `_update_setup_py()`) without having to template a file.

[2020-05-19 11:10] FrostyX commented on #252
Maybe there was a misunderstanding on my side, so I want to ask one thing to make it all clear. Are we talking about having a `__version__` number for the Tito project or are we talking about managing `__version__` number for projects managed by Tito?

[2020-05-19 17:39] ktdreyer commented on #252
I think it's great that Tito has a `__version__` attribute (PR #371).

When I opened this ticket, I was requesting that Tito automatically discover and bump any package's `__version__` attribute, in the same way that Tito automatically bumps the version number in `setup.py`.

This would make it easier for new users to adopt Tito. It would make Tito operate in the same way that a human would operat

[2020-05-20 11:25] FrostyX commented on #252
Okay, I see. While it sounds intriguing, I am afraid, there are some things that would have to be considered.

- Not all projects would want this feature enabled, so we would need a toggle configuration
- Some project might have `setup.py` in _non-standard_ path, so we would need to have a configuration option for specifying it (or scan every directory)
- Some projects might have multiple `setup.p

[2020-05-20 22:41] ktdreyer commented on #252
@FrostyX `src/tito/tagger/main.py` currently calls `_update_setup_py()`. That feature is great. I think we would need to add a corresponding `_update_init_py()` method here.

[2020-07-07 10:34] wolfdale opened #380 "Tito complains about missing file/directory during rpm build process. (Probable cause - `copy_extra_sources`)"
This issue is observed with new version of tito (v0.6.14 & v0.6.13).

From initial conversation with @FrostyX  - The issue is caused by `copy_extra_sources` which is introduced to deal with some
special use-cases.

Steps to reproduce -
Pre-requisite - Make sure you have tito (v0.6.14 or v0.6.13) installed.
1) ```clone candlepin project (https://github.com/candlepin/candlepin.git)```
2) ```cd candl

[2020-07-07 10:41] FrostyX commented on #380
Thank you for reporting the issue @wolfdale.
We have discussed it issue off-list and you summarized the bug report perfectly, so there is nothing left to say for me except that I am going to look at it as soon as possible.

And that I will try to add some tests for `copy_extra_sources` because this is not the first bug caused by it and we should have tested that more extensively in the first place

[2020-07-09 18:59] FrostyX commented on #380
So I started hacking on it and realized, that this is already fixed in PR #378 by @jirihnidek.
The change just hasn't been released yet.

@wolfdale, can you please try to install Tito from `master` and test whether it works for your package? I am trying it and getting past the issue you posted but the build still fails. I doubt it is related but it would be nice if you can confirm it works for you

[2020-07-10 07:07] wolfdale commented on #380
@FrostyX So I have installed Tito from master and it worked perfectly with candlepin & I'm able to build rpm with it. It would be great to have new release of Tito in near future with this fix.
Thanks @jirihnidek for the fix.

[2020-07-10 08:16] FrostyX commented on #380
@wolfdale thank you for the confirmation, I will release today.

[2020-07-10 09:27] FrostyX commented on #380
I have released a new version [Tito 0.6.15](https://github.com/rpm-software-management/tito/releases/tag/tito-0.6.15-1) and submitted updates for Fedora. They are still in testing but you can give karma to get them into stable sooner.

Thank you for the collaboration guys,
I am closing the issue now.

[2020-07-10 09:27] #380 closed

[2020-07-13 11:46] evgeni opened #381 "MD5 sum mismatch when building on EL5"
Since 0.6.14, SRPMs generated by tito fail to build on EL5 for me :(

The koji error I see is:

[code]

Still digging it further, but thought you'd like a heads up :)

cc @pcreech

[2020-07-13 11:49] evgeni commented on #381
My best guess, looking at the git log, is that that's because of 40287ca668539edcca0e519657f9540f3703f894

[2020-07-13 13:44] xsuchy commented on #381
Yes. That is the culprit. EL5 is EOLed for some time. If you want to build for EL5 then you must use some old version of tito or backport that change back.

[2020-07-13 13:54] evgeni commented on #381
Is there a way to pass rpmbuild params in `tito.props`?

[2020-07-13 14:46] xsuchy commented on #381
Nope.

[2020-07-21 16:32] jflorian opened #382 "Can KojiReleaser with builder.test=1 use Koji's new (1.21) --no-rebuild-srpm option?"
Koji-1.21 now [allows skipping SRPM rebuild for scratch builds](https://pagure.io/koji/pull-request/2083).  This seems perfect to me for doing quicker test builds.  I'm not sure if there would be any downsides.

[2020-07-21 19:36] FrostyX commented on #382
Hello @jflorian,
thank you for bringing this topic up.

Since the PR you mentioned revolves around scratch builds, what do you say if we use the `--no-rebuild-srpm` when Tito release is called with `--scratch` parameter? Instead of relying on `builder.test=1`.

[2020-07-21 20:24] jflorian commented on #382
@FrostyX to be honest, I'm not clear as to what the difference between `builder.test=1` and `--scratch` is.  Up to this point, I've not used `--scratch` at all.  I tried it once today, but I can't say I noticed a difference.  I just now read from the [Koji HOWTO](https://docs.pagure.org/koji/HOWTO/#build-options) where it says:

So those sound useful but generally I use test builds instead so that

[2020-07-25 21:36] FrostyX commented on #382
@jflorian Do you think you could test Tito from PR #385?

[2020-07-30 18:48] jflorian commented on #382
This isn't working for me.  I tried integrating this change on top of my installed tito-0.6.15-1.fc31.noarch and also from a git clone running bin/tito-dev and in both cases, the added condition doesn't pass because `self.test=None` (as confirmed with an added `print` call).  I double checked my `releasers.conf`:
[code]

[2020-08-11 16:00] #382 closed

[2020-09-21 10:14] #381 closed

[2020-09-21 10:25] evgeni opened #387 "copy_extra_sources doesn't handle remote URLs well"
Ohai,

in our spec files, we use `SourceX: https://some.example.com/artifact.tar.gz` as sources, but the new `copy_extra_sources` code fails on that:

[code]

We're using a (derived) `GitAnnexBuilder` so I have a hunch that maybe `NoTgzBuilder` should just have a `pass` as `copy_extra_sources`?

[2020-09-22 22:47] FrostyX commented on #387
Thank you for the feedback @evgeni.

Possibly

There is a debug output just before the line that caused your traceback.

    debug("Copying %s -> %s" % (src, self.rpmbuild_sourcedir))

I am curious, what it is trying to copy?

[2020-09-23 08:03] evgeni commented on #387
[code]

Where `https://rubygems.org/gems/concurrent-ruby-1.1.5.gem` is `Source1`

[2020-09-23 08:11] FrostyX commented on #387
Thank you. Then what about if we put these two lines

    debug("Copying %s -> %s" % (src, self.rpmbuild_sourcedir))
    shutil.copy(src, self.rpmbuild_sourcedir)

into a condition and copy things only if the `src` file exists.

[2020-09-23 08:19] evgeni commented on #387
Would certainly work, yeah. There is also a "similar" skipping block a few lines above, when `dst_file` already exists.

[2020-10-06 12:00] Conan-Kudo commented on #377
Using `@` would be bad, since that has meaning in software ecosystems to be equivalent to `=`. I think a magic phrase would probably be better...

[2020-10-06 14:20] #387 closed

[2020-11-03 10:35] vfreex opened #393 "Error building RPMs with recent spectool 1.1.0"
Got this error when building openshift rpm on Fedora 33 with spectool 1.1.0:

[code]

Did some troubleshooting work and found it is because latest version of `spectool` prints warnings about unversioned Obsoletes:

[code]

However `tito` mistakenly parsed the warning message as source file names. See https://github.com/rpm-software-management/tito/blob/998f7fb067aef2e357a175c511b18825faa88892/src/

[2020-11-03 10:58] vfreex commented on #393
Oh, the master has fixed this issue. I am closing this.

[2020-11-03 10:58] #393 closed

[2020-11-03 11:58] FrostyX commented on #393
Thank you for testing the `master` branch.
Are you blocked by this issue? Do we need to hurry with a new release, or is it an option for you to use the build from master until then?

[2020-11-03 14:58] vfreex commented on #393
@FrostyX No, not in a hurry. it only happens on my dev environment and I am ok with using master branch for now.

[2021-02-10 12:35] gonzalo-bulnes commented on #214
Hi @FrostyX,

I can confirm a few aspects of this issue in **tito 0.6.16** on Fedora 32 with [this package of mine][pkg]:

- `tito build --rpm --offline` succeeds and produces the expected package.
- `tito build --rpm --rpmbuild-options="--sign" --offline` **fails** with `ERROR: Unable to locate 'Wrote: ' lines in rpmbuild output`.
   - The package is produced as expected.
   - No detached signatu

[2021-02-10 12:48] gonzalo-bulnes commented on #214
I see that the `Wrote:` output is looked up [while building the source package (SRPM)][src] (and only there as far as I can see).

Do you know how I could prevent the SRPM from being created when creating the RPM?

I'd like to separate both steps both steps to check if they succeed separately, my test plan would be:

- Create the SRPM **without signing it**: `tito build --srpm --offline`
- Create

[2021-02-10 22:46] ibotty opened #398 "tito does not find sources it wrote just before"
`rpm -q tito`: `tito-0.6.16-1.fc33.noarch`

While trying to build https://gitlab.com/ibotty/winexe/-/commit/54f27f033d5c29e603b4ac158aa4f2d66ff23d2f in a clean checkout I get the following error.  Note that `tito build --rpm --test` works fine!

[code]

[2021-02-11 02:49] gonzalo-bulnes commented on #280
For what is worth, I believe this issue can be closed.

- the original question was solved
- deleting and re-creating Git tags solves the question about modified commits (I know this for a fact, I do it regularly in the process of setting up my spec files.)

[2021-02-15 13:33] Januson opened #399 "RPM fails to install on Centos8 with FIPS enabled"
We are using tito to build an RPM from our maven project. When we try to install this package to Centos8/rhel8 with FIPS enabled It fails to install with a digest mismatch error.

Signatures themselves seem to be ok.
[code]

But during the installation we get the error
[code]

candlepin.conf in this package is an empty file. I tried to build a package without it and it failed on a different file.

[2021-02-16 11:50] Januson commented on #399
The issue was in the filedigest settings.

[2021-02-16 11:50] #399 closed

[2021-03-10 17:30] michalfabik opened #400 "Using tag_format without {release} breaks tito tag --undo"
How to reproduce:

    $ echo "tag_format = {version}" >> .tito/tito.props
    $ git tag 0.1.6 myproject-0.1.6-1        # provide tito with a latest tag in the new format
    $ tito tag --use-version=0.1.7
    Creating output directory: /tmp/tito
    Tagging new version of myproject: 0.1.6-1 -> 0.1.7-1
    Created tag: 0.1.7
       View: git show HEAD
       Undo: tito tag -u
       Push: git push

[2021-03-30 14:10] vfreex opened #401 "DistGitReleaser doesn't work with builder.test = 1"
When running `tito release` with DistGitReleaser and setting `builder.test = 1` in `.tito/releasers.conf`, tito uploads a source tarball named `<name>-<version>-git-<number>.<hash>.tar.gz` to DistGit lookaside, but the spec file still implies `Source0: %{name}-%{version}.tar.gz`. This causes Brew build failures in that source tarball can't be found.

We currently `use builder.test = 1` since we do

[2021-03-30 16:40] xsuchy commented on #401
This issue is valid, but...
If you had commits which you do not want to send to upstream, you will be better with `tito.builder.UpstreamBuilder` or `tito.distributionbuilder.DistributionBuilder`.  With this change, you should tagger to 'ReleaseTagger'. See `man tito.props` for more details.
Test builds were originally meant as developer's snapshots and not really released anywhere.

[2021-04-22 20:25] webknjaz opened #404 "Publish to PyPI?"
Hi, any reason this project isn't on PyPI?

As a user of a non-RPM-based OS, being able to `pip install tito` would be a great deal for me trying out this tool.
Sure, I can install it in a container to play one time but it's not really ergonomic UX/DX-wise.

FWIW, if you folks aren't opposed to the idea, I can contribute GHA-based automation. To get a rough idea of what it'd look like, see https:/

[2021-04-30 01:21] FrostyX commented on #404
@webknjaz sure, that's a good idea, thank you for the suggestion. There appears to be some issue with the package name though, I will try to resolve it.

[2021-04-30 01:24] FrostyX commented on #404
Hello @dgoodwin,
by any chance, do you have the `tito` PyPI name registered? It doesn't return anything for https://pypi.org/project/tito/ but according to people on `#python`, it still can very well be registered to someone and just doesn't contain any files.

[2021-04-30 11:12] webknjaz commented on #404
It gets registered on the first upload unless it's very ancient. I would guess that it may be in PyPI's blocklist if somebody attempted to abuse it in the past.

FWIW if you file a PEP 541 request at https://github.com/pypa/pypi-support/issues/new/choose, the PyPI admins should be able to help you out and unblock/release it for you. Keep in mind that those folks are volunteers and it may take week

[2021-04-30 11:16] dgoodwin commented on #404
Hey, apologies but I don't think it was me. I have no memory of uploading to pypi at any point and I don't have any creds in my pw manager or browser. :(

[2021-04-30 12:44] FrostyX commented on #404
Thank you guys,
just wanted to ask @dgoodwin first because that could have been the easiest resolution without having to bother the PyPI people but I am going to file a request like @webknjaz is suggesting.

[2021-05-05 17:48] areese commented on #150
This PR adds an implementation of a submodule aware builder, please let me know your thoughts:
https://github.com/rpm-software-management/tito/pull/406

[2021-05-09 17:59] FrostyX commented on #404
I filled the PEP 541 request, so now we need to wait.
https://github.com/pypa/pypi-support/issues/1079

[2021-10-06 20:50] ryan-blakley opened #412 "Add the ability to additionally add the changelog to a separate file like CHANGELOG.md"
It would be nice to have the ability to append the changelog to an external file like a CHANGELOG.md file. Also possibly add the ability to add a jinja template for the external file, since most external changelog files are md or rst files.

[2021-11-23 20:19] skolpadda opened #413 "SubmoduleAwareBuilder tries to chdir(None) which fails"
This line:

[code]

calls `run_git_archive` which tries:

[code]

Since subdir is None here, this raises an exception:

[code]

Python: 3.6
OS: CentOS 8
tito: 0.6.18

Expected behaviour: tito builds the RPM without any errors.

[2021-12-18 03:45] belonesox commented on #413
Obvious bug.
![image](https://user-images.githubusercontent.com/1609739/146627772-5f4911f9-b1bb-43ff-8021-49b021d2a009.png)

I quickly fixed it, but I see a lot of other «submodule bugs»…

[2021-12-18 06:21] belonesox opened #414 "SubmoduleAwareBuilder incorrectly works with "deep" submodules and when len(submodules) > 2"
SubmoduleAwareBuilder incorrectly works with "deep" submodules and when len(submodules) > 2

Lets consider https://github.com/microsoft/onnxruntime.

Look, at submodule lists: modules can include backslashes in their names…
[code]
and definitely crashed https://github.com/rpm-software-management/tito/blob/71c2712e7e1a5a151207ceddff7a39825a7e3fff/src/tito/builder/submodule_aware_builder.py#L76
beca

[2022-01-11 23:40] gotmax23 opened #415 "[Feature Request] Add support for gpg signing to `tito tag`"
Can you please add the ability to gpg sign the tag and commit that are created by `tito tag`?

[2022-01-12 10:02] xsuchy commented on #415
This is already possible.

`man tito.props` and search for `sign_tag`

I.e.,
[code]
will work.

[2022-01-12 10:02] #415 closed

[2022-01-12 10:16] xsuchy commented on #377
And
[code]
So proper tagged build will not upgrade test version. :(

[2022-01-12 16:57] gotmax23 commented on #415
Does this also sign the commit (`git commit -S`)?

[2022-02-02 13:53] nikosmoum commented on #194
Any chance this can be added to the agenda for any of the upcoming releases?

[2022-02-10 10:16] xsuchy opened #416 "Allow custom changlog entries generators"
It would be nice to allow use of external changelog generators. E.g. https://github.com/git-chglog/git-chglog

[2022-02-14 10:59] nikosmoum commented on #194
@FrostyX You are right, this should work as you say. But after looking into it more, I realized I was looking for something different.
Right now, when syncing the repo of the mead build with the remote, only the tag is being pushed:
https://github.com/rpm-software-management/tito/blob/7177422ec9ebb7fddb032905b8b7f2ad4037ebc7/src/tito/release/distgit.py#L554-L555
It would be nice if this pushed bot

[2022-02-14 11:53] nikosmoum commented on #194
I created a PR for that: https://github.com/rpm-software-management/tito/pull/417

[2022-02-23 11:01] FrostyX commented on #194
The PR #417 is merged, so this should work now.

[2022-02-23 11:01] #194 closed

[2022-03-09 00:20] Etheryte commented on #404
@FrostyX It seems that the request was successful, is adding the project to PyPI still something you would consider?

[2022-03-09 12:16] FrostyX commented on #404
Thank you for pinging me @Etheryte.
I pushed to PyPI https://pypi.org/project/tito/

[2022-03-09 12:26] FrostyX commented on #404
There is also a missing description in the PyPI project, should be fixed by #418.

[2022-03-13 21:44] #404 closed

[2022-04-12 00:37] shibumi opened #421 "Trouble with tito and first go package"
Hello there,

I am new to tito, but not new to RPMs or packaging in general. I am trying to create a RPM package at COPR for github.com/sigstore/cosign, but I am running into a few problems.

The current spec file is located here: https://github.com/shibumi/copr/blob/main/cosign/cosign.spec

I am trying to build this file, but I get errors:

[code]

What am I doing wrong?

[2022-04-12 22:17] FrostyX commented on #421
Hello @shibumi,
a couple of thoughts.

Please try to avoid building packages as root. Just for your own safety :-)
Also, the `--ofline` parameter is meant for development, see `man tito`

[code]

You can just omit it.

If you are trying to build a package in Copr, then you need tito to create an SRPM package for you. That's basically just an archive containing your .spec file and tarball of your s

[2022-04-13 11:43] shibumi commented on #421
Hey @FrostyX thank you so much for your answer.

I want to do both. I want to be able to build it locally for testing purposes and I want to let COPR build it. I configured COPR that it just checks out my repository and builds the directory with tito. So this is fine.

I assumed that tito creates a secure chroot or systemd-nspawn container for the build process (this is what we are doing on Arch L

[2022-04-13 13:45] FrostyX commented on #421
There are two tools to build an RPM package locally. The most simple one is `rpmbuild` which builds it directly on your system, as your current user, without any isolation. That is why you need to make sure that all build dependencies are installed.

The other tool is Mock - https://github.com/rpm-software-management/mock
It is probably similar to the thing that you know from Arch. It creates a sy

[2022-04-13 20:50] shibumi commented on #421
This  works now (reason was that I invoked tito with a different user before... work/private user profiles).
Is there a fedora packager community? I tried #fedora-devel on IRC, but they don't seem to be very active or helpful.
I really appreciate your help in this. This really increases my interest in RPMs and packaging stuff for Fedora in the future.

Looks like I really have to build all of thes

[2022-04-13 22:39] FrostyX commented on #421
I am really not the right person for a Go-specific question. I would recommend `#fedora-golang` on libera.chat

You can try

- https://discussion.fedoraproject.org/tag/package-maintainers
- https://lists.fedoraproject.org/admin/lists/packaging@lists.fedoraproject.org/
- `#fedora-join`

[2022-04-18 22:11] FrostyX commented on #421
I created PR#422 that fixes this.

Can we close this issue or is something still not working?

[2022-04-19 07:42] #421 closed

[2022-04-19 07:42] shibumi commented on #421
All good. Thank you very much for your help @FrostyX  :)

[2022-05-01 17:38] #323 closed

[2022-08-02 17:08] mtinberg opened #424 "Compat for python27 urlrequest is in urllib not urlparse"
https://github.com/rpm-software-management/tito/blob/4c4b1268b3eb1f8cf24074d31ae7690c9643ffbc/src/tito/compat.py#L30

I think a search/replace went awry as `from urlparse import urlretrieve` doesn't work but `from urllib import urlretrieve` does work.  This broken on update for my CentOS7 build host.

[2022-08-11 02:52] adwpc commented on #424
same issue:

[code]

[2022-08-16 07:48] bryce-carson commented on #398
I have the same issue,

[code]

The problem is actually that there is a mismatch between the tag/release name that Tito is building for, 1.7.2-5 in my case, and the targz it writes, which is 1.7.2 only.

The release is not downloaded from the SCM forge as it normally might, so this complicates things.

🤷🏼

[2022-08-16 21:17] bryce-carson commented on #398
Here is a debug log:
[code]

[2022-08-16 21:35] bryce-carson commented on #398
The problem reduces to [the definition of](https://github.com/rpm-software-management/tito/blob/bb3e66112439ff9b3a6ea0796e508788cbb1a441/src/tito/builder/main.py#L660-L675) the `_get_display_version()` method of the `Builder` class.

In the instance that `.tito/packages/` has the format: `{version}-{release}`, such as `1.7.2-9`, the `build_version` is not used and the `display_version` is used.

T

[2022-08-16 22:19] bryce-carson commented on #398
However, the problem created by this definition is real and the code is likely incorrect, as `self.spec_version` should be what is used *if* the intention was to get the upstream project version only.
https://github.com/rpm-software-management/tito/blob/bb3e66112439ff9b3a6ea0796e508788cbb1a441/src/tito/builder/main.py#L481-L482

When version is defined in `_get_display_version` it does the text ob

[2022-08-18 10:48] FrostyX commented on #398
Thank you for the detailed feedback @bryce-carson, and I am sorry that I didn't pay better attention to this earlier @ibotty.

I think the main problem is `.tar.bz2`. I cloned the `winexe` project, and did `tito build --rpm --no-clean`. It failed as expected but then I could examine the rpmbuild directory

[code]

The error message was

[code]

which doesn't exist, but the same file exists but as

[2022-08-19 05:33] bryce-carson commented on #398
I think the problem I encountered has a different cause. I expected Tito to behave differently without understanding the various taggers and workflows.

When I invoked Tito, this blob was the spec file I was using, and I invoked Tito in an unpacked Git directory with the spec file I wrote. I wanted to contribute it upstream, but I didn't realize that Fedora already packages `rpi-imager`! Silly me.

[2022-09-18 22:23] FrostyX commented on #424
Thank you for the report,
I am fixing it in PR #426

[2022-09-19 09:45] FrostyX commented on #398
Meaning a directory where nobody did `tito init`? I am trying that but that fails with the following error instead of this #398 issue.

[code]

I also changed `Source0` to `Source` in my spec file and the build continued working correctly.

If you've got a chance, can you please write a step-by-step reproducer that leads to the issue you mentioned in your last comment @bryce-carson? I will try to

[2022-09-21 05:20] bryce-carson commented on #398
No, `tito init` had been run. I meant that the directory is managed with Git, and the sources are unpacked. Plain sources/Git repository + spec file is what I was working with.

When I have some extra time I'll come back to this with detailed reproduction steps.

[2022-10-20 11:29] praiskup opened #428 "Bodhi updates via releaser while doing `tito release`?"
Can we make this possible?  Bodhi is the only manual step we are doing while releasing packages into Fedora.
It is quite easily to submit bodhi using `fedpkg update` (one command => one update template => many packages in multiple Bodhi updates).  Seems like something tito could automatize.

[2022-10-20 11:29] praiskup commented on #428
@xsuchy fyi

[2022-10-21 09:29] xsuchy commented on #428
There is python bindings in bodhi-client package.

[2022-10-24 16:17] FrostyX commented on #428
I really like the idea

[2022-11-01 18:52] bcl opened #429 "Add pyproject.toml to version tagger"
Currently tito only supports updating the version in setup.py, which means that it is difficult to move a project using tito to use pyproject.toml from https://peps.python.org/pep-0621/

[2022-11-02 20:24] FrostyX commented on #429
Hello @bcl,
please take a look at `man tito.props`, the `VERSION_TEMPLATE`. I think it should work for your use-case.

You can see it configured in the Tito project itself
https://github.com/rpm-software-management/tito/blob/master/.tito/tito.props#L12

[2022-11-13 23:55] #424 closed

[2022-11-14 10:01] xsuchy opened #430 "enhance FedoraGitReleaser to build to all active Fedora branches"
I use this `releasers.conf`:
[code]
And it is pain to update it every 3 months because of new releases and new branching.

It would be awesome if I can use some magic to mark all active branches. E.g.,

[code]
The list of active branches can be fetched from https://pdc.fedoraproject.org/ which has API.

[2022-11-22 18:54] FrostyX commented on #430
I am thinking of an alternative.

We can get the list of the active Fedora/EPEL versions here
https://pdc.fedoraproject.org/rest_api/v1/product-versions/

We can also get the list of branches for a package, e.g.
https://src.fedoraproject.org/api/0/rpms/copr-cli/git/branches
(or git fetch all)

So what if we make the `branches =` setting optional? And if not set, build the package for its every act

[2022-11-22 19:10] praiskup commented on #430
The default behavior sounds OK to me, but I still think we should have the pattern-like solution **on top of it**.
E.g. have multiple releasers both in the mock and copr project.  E.g. mock, in the `main` is built against **all fedora** + **epel8+**, but **not against epel7**.

[2022-11-22 19:54] FrostyX commented on #430
This would IMHO work even with

Because this would basically build the package for all "Active branches" that are listed here

- https://src.fedoraproject.org/rpms/copr-cli/branches
- https://src.fedoraproject.org/rpms/copr-frontend/branches
- https://src.fedoraproject.org/rpms/copr-messaging/branches

Which is IMHO the 99% of use cases. And I think it translates correctly for all Copr packages.